_gulp/node_modules/
_gulp/package-lock.json
_static/dist/
_static/src/pdf/
wp-includes/
public/wp-admin/
public/wp-content/languages/
public/wp-content/ai1wm-backups/
public/wp-content/plugins/
public/wp-content/upgrade/
public/wp-content/uploads/
public/wp-content/index.php
public/wp-content/themes/index.php
public/wp-includes/
public/.htaccess/
public/license.txt/
public/wp-activate.php/
public/wp-blog-header.php/
public/wp-comments-post.php/
public/wp-config-sample.php/
public/wp-config.php/
public/wp-cron.php/
public/wp-links-opml.php/
public/wp-load.php/
public/wp-login.php/
public/wp-mail.php/
public/wp-settings.php/
public/wp-signup.php/
public/wp-trackback.php/
public/xmlrpc.php/

Search-Replace-DB/
.vscode/sftp.json
