@use '../../foundation/mixin' as m;

// 短距離にする場合
.c-anim-train-running {
	// @include m.breakpoint(moon_mini) {
	animation: short_run 30s infinite linear;
	// }
}

@keyframes short_run {
	0% {
		transform: translateX(28vw);
	}
	50% {
		transform: translateX(65vw);
	}
	100% {
		transform: translateX(28vw);
	}
}

.p-about {
	.c-anim-train-running {
		position: absolute;
		animation: train_running 100s infinite linear;
	}
}

@keyframes train_running {
	0% {
		transform: translateX(-100%);
	}
	50% {
		transform: translateX(100vw);
	}
	100% {
		transform: translateX(-200px);
	}
}
