@use '../../foundation/variable' as v;
@use '../../foundation/mixin' as m;
@use './ba';

.c-anim-train-smoke {
	@extend .c-ba;
	&::before,
	&::after {
		width: 10px;
		height: 30px;
		top: -30px;
		right: -43px;
		border-radius: 50%;
		background: #fff7d5;
		opacity: 0.4;
		filter: blur(10px);
		transform-origin: bottom right;
		transition: animation 0.5s ease-in-out;
	}

	&::before {
		animation: 2s train_smoke infinite both;
	}
	&::after {
		animation: 2s train_smoke infinite both 1s;
	}
}

@keyframes train_smoke {
	0% {
		transform: scale(0) rotate(-5deg);
		filter: blur(1px);
		opacity: 0.4;
	}
	100% {
		transform: scale(2) rotate(-60deg);
		filter: blur(10px);
		opacity: 0.1;
	}
}
