@use './ba';

.c-anim-black-hole {
	@extend .c-ba;
	&::before,
	&::after {
		width: 50%;
		height: 20%;
		border-radius: 50%;
		filter: blur(50px);
		opacity: 0.4;
		z-index: 30;
	}

	&::before {
		background: radial-gradient(
			at 50% 0,
			rgba(255, 255, 255, 0.5),
			transparent
		);
		animation: anim_black_hole 5s ease-in infinite alternate;
	}

	&::after {
		background: radial-gradient(
			at 50% 0,
			rgba(255, 255, 0, 0.5),
			transparent
		);
		animation: anim_black_hole 5s 2.5s ease-in infinite alternate-reverse;
	}
}

@keyframes anim_black_hole {
	0% {
		transform: rotate(30deg);
		opacity: 0;
	}
	50% {
		opacity: 0.4;
	}
	100% {
		transform: rotate(-30deg);
		opacity: 0;
	}
}
