@use '../../foundation/variable' as v;
@use './ba';

.c-ba-static-star {
	@extend .c-ba;
	&::before,
	&::after {
		content: '';
		display: block;
		width: 3px;
		height: 3px;
		border-radius: 50%;
	}
	&::before {
		box-shadow: v.$box-shadow--star-purple;
	}

	&::after {
		box-shadow: v.$box-shadow--star-green;
	}
}
