@use '../../foundation/variable' as v;
@use '../../foundation/mixin' as m;
@use 'sass:math';
@use './ba';

// 背景色はc-glass--yellow,white,brightで付ける
.c-ball {
	@extend .c-ba;
	border-radius: 50%;

	&::before {
		top: 5px;
		left: 0;
		width: math.div(100%, 2);
		height: math.div(100%, 3);
		background: v.$color--white--opacity20;
		border-radius: 50%;
		filter: blur(10px);
	}
}
