@use '../../foundation/variable' as v;
@use '../../foundation/mixin' as m;
@use '../component/ba';

.c-bg {
	//全体を覆う
	&--gradient-main {
		background: radial-gradient(
			ellipse at center,
			#1b2735 40%,
			#090a0f 100%
		);
	}

	// 全体背景：夜バージョン
	&--night {
		background: linear-gradient(
			to bottom,
			#090a0f 20%,
			#1b2735 40%,
			#1b2d42 80%,
			#2d2b42 100%
		);
	}

	&--cosmos {
		background: v.$color--cosmos;
	}

	&--white {
		background: #fff9f0;
	}

	&--white--opacity {
		background: v.$color--white--opacity60;
	}

	// aboutページ背景
	//front:works
	&--gradient-f1 {
		background: linear-gradient(to bottom, rgba(61, 136, 175, 0), #12577a);
	}

	//front:blog
	&--gradient-f2 {
		background: linear-gradient(
			to bottom,
			#12577a,
			rgba(73, 147, 183, 0.5)
		);
	}

	//front:profile
	&--gradient-f3 {
		background: linear-gradient(
			to bottom,
			rgba(73, 147, 183, 0.5),
			#456c82
		);
	}

	//front:contact
	&--gradient-f4 {
		background: linear-gradient(to bottom, #456c82, #f3bf7c);
	}
}
