@use "../../foundation/variable" as v;

.c-bubbly-button{
  background-color: v.$color--bubbly-btn-default;
  color: v.$color--bubbly-btn-text;
  box-shadow: 0 2px 25px #fff;
  border-radius: 4px;
  border: none;

  // font-family: 'Helvetica', 'Arial', sans-serif;
  display: inline-block;
  font-size: 1em;

  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-out .5s, box-shadow ease-out .5s;
  transition: all ease-out .5s;
  // box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);

  &:hover {
    opacity: .5;
    color: #000;
  }
  
  &:focus {
    outline: 0;
  }
  
  &:before, 
  &:after{
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: 1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
  }

  // 泡
  &:before{
    display: none;
    top: -80%;
    background-image:
    radial-gradient(circle, v.$color--bubbly-btn-default 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, v.$color--bubbly-btn-default 20%, transparent 30%),
    radial-gradient(circle, v.$color--bubbly-btn-default 20%, transparent 20%), 
    radial-gradient(circle, v.$color--bubbly-btn-default 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, v.$color--bubbly-btn-default 15%, transparent 20%),
    radial-gradient(circle, v.$color--bubbly-btn-default 20%, transparent 20%),
    radial-gradient(circle, v.$color--bubbly-btn-default 20%, transparent 20%),
    radial-gradient(circle, v.$color--bubbly-btn-default 20%, transparent 20%),
    radial-gradient(circle, v.$color--bubbly-btn-default 20%, transparent 20%),
    radial-gradient(circle, v.$color--bubbly-btn-default 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, v.$color--bubbly-btn-default 20%, transparent 30%),
    radial-gradient(circle, v.$color--bubbly-btn-default 20%, transparent 20%), 
    radial-gradient(circle, v.$color--bubbly-btn-default 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, v.$color--bubbly-btn-default 15%, transparent 20%),
    radial-gradient(circle, v.$color--bubbly-btn-default 20%, transparent 20%),
    radial-gradient(circle, v.$color--bubbly-btn-default 20%, transparent 20%),
    radial-gradient(circle, v.$color--bubbly-btn-default 20%, transparent 20%),
    radial-gradient(circle, v.$color--bubbly-btn-default 20%, transparent 20%);
    // background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
    background-size: 20% 20%, 40% 40%, 30% 30%, 40% 40%, 36% 36%, 20% 20%, 30% 30%, 20% 20%, 36% 36%;
    background-position: 0% 80%, -5% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 85% 30%;
  }

  &:after{
    display: none;
    bottom: -80%;
    background-image:  
    radial-gradient(circle, v.$color--bubbly-btn-default 20%, transparent 20%), 
    radial-gradient(circle, v.$color--bubbly-btn-default 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, v.$color--bubbly-btn-default 15%, transparent 20%),
    radial-gradient(circle, v.$color--bubbly-btn-default 20%, transparent 20%),
    radial-gradient(circle, v.$color--bubbly-btn-default 20%, transparent 20%),
    radial-gradient(circle, v.$color--bubbly-btn-default 20%, transparent 20%),
    radial-gradient(circle, v.$color--bubbly-btn-default 20%, transparent 20%),
    radial-gradient(circle, v.$color--bubbly-btn-default 20%, transparent 20%), 
    radial-gradient(circle, v.$color--bubbly-btn-default 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, v.$color--bubbly-btn-default 15%, transparent 20%),
    radial-gradient(circle, v.$color--bubbly-btn-default 20%, transparent 20%),
    radial-gradient(circle, v.$color--bubbly-btn-default 20%, transparent 20%),
    radial-gradient(circle, v.$color--bubbly-btn-default 20%, transparent 20%),
    radial-gradient(circle, v.$color--bubbly-btn-default 20%, transparent 20%);
    // background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
    background-size: 20% 20%, 40% 40%, 36% 36%, 40% 40%, 30% 30%, 20% 20%, 40% 40%;
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }

  &:active{
    transform: scale(0.9);
    background-color: darken(v.$color--bubbly-btn-default, 5%);
    // box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
  }
  
  &.animate{
    &:before{
      display: block;
      animation: topBubbles ease-in-out 0.75s forwards;
    }
    &:after{
      display: block;
      animation: bottomBubbles ease-in-out 0.75s forwards;
    }
  }
}


.c-bubbly-button--white {
  @extend .c-bubbly-button;
  background: none;
  // box-shadow: 1px 1px 4px #fff,
  // -1px -1px 4px #fff;
  box-shadow: none;
  transition: box-shadow .5s;
  border-radius: 0;
  border: none;

  &:hover {
    opacity: 1;
    color: rgb(161, 159, 159);
  }
}


.c-bubbly-button--pink{
  @extend .c-bubbly-button;
  background: none;
  color: v.$color--bubbly-btn-pink;
  transition: transform ease-out .2s, box-shadow ease-out .2s;
  transition: all .2s;
  box-shadow: none;

  &:hover {
    color: v.$color--bubbly-btn-pink;
    box-shadow: none;
    opacity: 1;

    span {
      animation: flash .2s linear;
    }
  }
  
  &:before{
    top: -70%;
    background-image:
    radial-gradient(circle, v.$color--bubbly-btn-pink 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, v.$color--bubbly-btn-pink 20%, transparent 30%),
    radial-gradient(circle, v.$color--bubbly-btn-pink 20%, transparent 20%), 
    radial-gradient(circle, v.$color--bubbly-btn-pink 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, v.$color--bubbly-btn-pink 15%, transparent 20%),
    radial-gradient(circle, v.$color--bubbly-btn-pink 20%, transparent 20%),
    radial-gradient(circle, v.$color--bubbly-btn-pink 20%, transparent 20%),
    radial-gradient(circle, v.$color--bubbly-btn-pink 20%, transparent 20%),
    radial-gradient(circle, v.$color--bubbly-btn-pink 20%, transparent 20%);
  }


  
  &:after{
    bottom: -70%;
    background-image:  
    radial-gradient(circle, v.$color--bubbly-btn-pink 20%, transparent 20%), 
    radial-gradient(circle, v.$color--bubbly-btn-pink 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, v.$color--bubbly-btn-pink 15%, transparent 20%),
    radial-gradient(circle, v.$color--bubbly-btn-pink 20%, transparent 20%),
    radial-gradient(circle, v.$color--bubbly-btn-pink 20%, transparent 20%),
    radial-gradient(circle, v.$color--bubbly-btn-pink 20%, transparent 20%),
    radial-gradient(circle, v.$color--bubbly-btn-pink 20%, transparent 20%),
    radial-gradient(circle, v.$color--bubbly-btn-pink 20%, transparent 20%);
  }
}



.c-bubbly-button--yellow{
  @extend .c-bubbly-button--pink;
  color: v.$color--bubbly-btn-yellow;

  &:hover {
    color: v.$color--bubbly-btn-yellow;
  }
  
  &:before{
    top: -70%;
    background-image:
    radial-gradient(circle, v.$color--bubbly-btn-yellow 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, v.$color--bubbly-btn-yellow 20%, transparent 30%),
    radial-gradient(circle, v.$color--bubbly-btn-yellow 20%, transparent 20%), 
    radial-gradient(circle, v.$color--bubbly-btn-yellow 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, v.$color--bubbly-btn-yellow 15%, transparent 20%),
    radial-gradient(circle, v.$color--bubbly-btn-yellow 20%, transparent 20%),
    radial-gradient(circle, v.$color--bubbly-btn-yellow 20%, transparent 20%),
    radial-gradient(circle, v.$color--bubbly-btn-yellow 20%, transparent 20%),
    radial-gradient(circle, v.$color--bubbly-btn-yellow 20%, transparent 20%);
  }


  
  &:after{
    bottom: -70%;
    background-image:  
    radial-gradient(circle, v.$color--bubbly-btn-yellow 20%, transparent 20%), 
    radial-gradient(circle, v.$color--bubbly-btn-yellow 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, v.$color--bubbly-btn-yellow 15%, transparent 20%),
    radial-gradient(circle, v.$color--bubbly-btn-yellow 20%, transparent 20%),
    radial-gradient(circle, v.$color--bubbly-btn-yellow 20%, transparent 20%),
    radial-gradient(circle, v.$color--bubbly-btn-yellow 20%, transparent 20%),
    radial-gradient(circle, v.$color--bubbly-btn-yellow 20%, transparent 20%),
    radial-gradient(circle, v.$color--bubbly-btn-yellow 20%, transparent 20%);
  }
}


@keyframes flash {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes topBubbles {
  0%{
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;}
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}

@keyframes bottomBubbles {
  0%{
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;}
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}