@use "../../foundation/variable" as v;

.c-card-img {
	visibility: hidden;

	&--hover {
		transition: 0.2s all ease-out;
	}

	&,
	&--hover {
		width: 100%;
		height: 235px;
		border-top-left-radius: 12px;
		border-top-right-radius: 12px;
		background: url("../img/common/rabbit.png");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: top;
	}

	&--hover.card1 {
		background: url("../img/works/wishdesign3.png");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: top;
	}

	&--hover.card2 {
		background: url("../img/works/italiadesign.png");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: top;
	}

	&:hover {
		opacity: 0.5;
	}
}
