@use "../../foundation/variable" as v;

.c-card-info {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;

  &--01 {
    font-family: 'Raleway', sans-serif;
    font-size: v.$font-size--c-card-info--01;
    letter-spacing: 1px;
    color: #666;
  }
  
  &--02 {
    font-family: 'Roboto Slab', serif;
    color: #333;
  }
  
  &--03 {
    font-family: 'Raleway', sans-serif;
    font-size: v.$font-size--c-card-info--03;
    color: #333;
  }
  
  &--name {
    color: v.$color--accent;
  }
}