@use '../../foundation/variable' as v;
@use '../../foundation/mixin' as m;

.c-copyright {
	display: block;
	width: 100%;
	text-align: center;
	font-family: 'xmas', cursive;
	font-size: 5vw;

	@include m.breakpoint(moon_mini) {
		font-size: 2rem;
	}
}
