@use "../../foundation/variable" as v;
@use "../../foundation/mixin" as m;


.c-glass {
  background: linear-gradient(0deg,
  rgba(255, 255, 255, 0.1),
  rgba(255, 255, 255, 0.2),
  rgba(255, 255, 255, 0.3),
  rgba(255, 255, 255, 0.4));
  border-left: 1px solid rgba(255, 255, 255, 0.2);

  &--bright,
  &--yellow,
  &--white {
    @extend .c-glass;
  }

  &--bright {
    box-shadow: -20px -10px 40px rgba(255, 255, 255, 0.2) inset,
    0 0 40px rgba(255, 255, 255, 0.5);
  }

  &--yellow {
    box-shadow: 0 5px 45px rgba(255, 255, 85, 0.1);
  }

  &--white {
    box-shadow: 0 0 45px rgba(255, 255, 255, 0.6);
  }
}


// &--line {
//   background: rgba(255, 255, 255, 0.2);
//   border-right: 1px solid rgba(255, 255, 255, 0.2);
//   border-bottom: 1px solid rgba(255, 255, 255, 0.2);
//   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
//   border: 1px solid rgba(255,255,255,0.5);
// }