@use "../../foundation/variable" as v;
@use "../../foundation/mixin" as m;

.c-glitter-text {
  font-weight: v.$font-weight--superBold;
  .char {
    text-shadow: 1px 1px 0 rgba(#fff, .5);
    &:nth-child(odd) {
      color: #035ee2;
      background: -webkit-linear-gradient(transparent, transparent), 
      url("../img/common/glitter/blue.gif") repeat;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  
    &:nth-child(even) {
      color: gold;
      background: -webkit-linear-gradient(transparent, transparent),
      url("../img/common/glitter/gold.gif") repeat;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}