.c-gravity-text {
	font-weight: 300;
	text-align: center;

	&--main {
		@extend .c-gravity-text;
		font-size: 30px;
		letter-spacing: 20px;
		text-indent: 20px;

		animation-duration: 5s;
		animation-iteration-count: infinite;
		animation-timing-function: ease;
		animation-name: animGravity;
	}

	&--sub {
		span {
			@extend .c-gravity-text;
			font-size: 2rem;
			letter-spacing: 6px;
			display: inline-block;

			animation-duration: 5s;
			animation-iteration-count: infinite;
			animation-timing-function: ease;

			$count: 3;
			@for $i from 1 through $count {
				&:nth-child(#{$i}) {
					animation-name: Anim-#{$i};
				}
			}
		}
	}
}

@keyframes Anim-1 {
	0%,
	5% {
		transform: translateY(-26px);
		opacity: 0;
	}
	35%,
	80% {
		transform: translateY(0px);
		opacity: 1;
	}
	92%,
	100% {
		transform: translateY(-4px);
		opacity: 0;
	}
}

@keyframes Anim-2 {
	0%,
	15% {
		transform: translateY(-26px);
		opacity: 0;
	}
	45%,
	80% {
		transform: translateY(0px);
		opacity: 1;
	}
	92%,
	100% {
		transform: translateY(-4px);
		opacity: 0;
	}
}

@keyframes Anim-3 {
	0%,
	25% {
		transform: translateY(-26px);
		opacity: 0;
	}
	55%,
	80% {
		transform: translateY(0px);
		opacity: 1;
	}
	92%,
	100% {
		transform: translateY(-4px);
		opacity: 0;
	}
}

@keyframes animGravity {
	0% {
		transform: translateY(-26px);
		opacity: 0;
	}
	30%,
	80% {
		transform: translateY(0px);
		opacity: 1;
	}
	92%,
	100% {
		transform: translateY(-4px);
		opacity: 0;
	}
}
