@use "../../foundation/variable" as v;
@use "../../foundation/mixin" as m;

.c-hamburger {
  position: fixed;
  display: inline;
  width: v.$size--hamburger-container;
  height: v.$size--hamburger-container;
  user-select: none;
  transition: transform 0.75s cubic-bezier(0.39, 1.52, 0.46, 0.92);
  
  background: rgba(0,0,0, 0.5);
  border-bottom-left-radius: 100%;
  top: -2px;
  right: 0;

  z-index: 1000;

  span {
    position: absolute;
    background-color: #fff;
    transition: all 0.3s linear;
    border-radius: 4px;
    width: 30px;
    height: 4px;
    right: 12px;
    z-index: 2000;
  }

  .line-top {
    top: 16px;
  }

  .line-middle {
    top: 26px;
  }

  .line-bottom {
    top: 36px;
    transform-origin: 100% 100%;
  }
}


// **
// is-openのとき
// **
body.is-open {
  .p-header,
  .p-header--back {
    transform: translateY(-250px);
  }
  
  .c-nav {
    width: 100%;
    top: 300px;
    z-index: 950;

    li {
      right: -10%;
      transform: rotate(360deg);
    }
  }
}

.c-hamburger.is-open {
  .line-top {
    animation: line-top .6s linear forwards;
  }
  
  .line-middle {
    animation: line-middle .6s linear forwards;
  }
  
  .line-bottom {
    animation: line-bottom .6s linear forwards;
  }

  & ~ .c-overlay {
    will-change: transform;
    border-right: none;
    border-bottom: none;
    top: 22px;
    animation: overlay .6s linear forwards;
  }
}

@keyframes overlay {
  70% {
    transform: scale(20);
  }
  100% {
    transform: scale(30);
  }
}

@keyframes line-top {
  40% {
    transform: scale(2, 2) rotate(405deg);
  }
  80% {
    transform: scale(1, 1) rotate(495deg) translate(3px, -10px);
  }
  100% {
    transform: scale(1, 1) rotate(495deg) translate(3px, -10px);
  }
}

@keyframes line-middle {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-110vw);
  }
}

@keyframes line-bottom {
  99% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(45deg);
  }
}

// **
// is-closeのとき
// **
body.is-close {
  .c-nav {
    width: 0;
    @include m.breakpoint( moon-mini ) {
      width: auto;
    }

    li {
      animation: list .6s linear forwards;
    }
  }
}

.c-hamburger.is-close {
  .line-top {
    animation: line-top-back .6s linear forwards;
  }
  .line-middle {
    animation: line-middle-back .6s linear forwards;
  }
  .line-bottom {
    animation: line-bottom-back .6s linear forwards;
  }
  & ~ .c-overlay {
    // transition: transform .8s cubic-bezier(1, 0, 0, 1);
    animation: overlay-back .6s linear forwards;
  }
}

@keyframes overlay-back {
  0% {
    transform: scale(30);
  }
  90% {
    transform: scale(20);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes list {
  0% {
    right: -10%;
  }
  70% {
    right: -10%;
  }
  100% {
    right: -100vw;
  }
}

@keyframes line-top-back {
  40% {
    transform: scale(2,2) rotate(45deg) translateY(50px);
  }
  100% {
    transform: scale(1,1) rotate(-180deg) translateY(0);
  }
}


@keyframes line-bottom-back {
  // 40% {
  //   transform: rotate(0);
  // }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes line-middle-back {
  0% {
    transform: translateX(-110vw);
  }
  70% {
    transform: translateX(-50vw);
  }
  100% {
    transform: translateX(0);
  }
}