@use "../../foundation/variable" as v;
@use "../../foundation/mixin" as m;

.c-ham-trigger {
  display: none;

	// チェックがついたら
	&:checked {
		& ~ .c-hamburger {
			.line-top {
				animation: line-top v.$time--hamburger-anim linear forwards;
			}
			.line-middle {
				animation: line-middle v.$time--hamburger-anim linear forwards;
			}
			.line-bottom {
				animation: line-bottom v.$time--hamburger-anim linear forwards;
			}
      &::before {
        animation: overlay v.$time--hamburger-anim linear forwards;
      }
		}
	
		& ~ .p-header {
      &::before,
      .c-header-ttl--totop {
        transition: none;
        opacity: 0;
      }

			.c-nav {
        li {
          animation: list-mini v.$time--hamburger-anim linear forwards;
          @media screen and (min-width: 375px) {
            animation: list v.$time--hamburger-anim linear forwards;
          }

          @include m.breakpoint( moon-mini ) {
            animation: none;
          }
        }
      }
    }
	}
}

body.is-fix {
  position: fixed;
}



// アニメーション

// **
// ハンバーガーopenのとき
// **
@keyframes overlay {
  70% {
    transform: scale(20);
  }
  100% {
    transform: scale(30);
  }
}

@keyframes list-mini {
  0% {
    transform: translateX(-115vw);
    opacity: 0;
  }
  100% {
    transform: translateX(-120vw) translateY(150%);
    opacity: 1;
  }
}
@keyframes list {
  0% {
    transform: translateX(-95vw);
    opacity: 0;
  }
  100% {
    transform: translateX(-100vw) translateY(150%);
    opacity: 1;
  }
}

@keyframes line-top {
  40% {
    transform: scale(2, 2) rotate(405deg);
  }
  80% {
    transform: scale(1, 1) rotate(495deg) translate(3px, -10px);
  }
  100% {
    transform: scale(1, 1) rotate(495deg) translate(3px, -10px);
  }
}

@keyframes line-middle {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateY(360deg);
  }
  100% {
    transform: translateX(-110vw);
  }
}

@keyframes line-bottom {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(-135deg);
  }
  100% {
    transform: rotate(45deg);
  }
}


// **
// ハンバーガーcloseのとき
// **
@keyframes line-top-back {
  40% {
    transform: scale(2,2) rotate(45deg) translateY(50px);
  }
  100% {
    transform: scale(1,1) rotate(-180deg) translateY(0);
  }
}

@keyframes line-middle-back {
  0% {
    transform: translateX(-110vw);
  }
  70% {
    transform: translateX(-50vw);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes line-bottom-back {
  0% {
    transform: rotateZ(45deg);
  }
  50% {
    transform: rotateZ(90deg);
  }
  100% {
    transform: rotateZ(0);
  }
}