@use '../../foundation/variable' as v;
@use '../../foundation/mixin' as m;

.c-ham-line {
	position: absolute;
	justify-content: center;
	top: -2px;
	right: 0;
	width: v.$size--hamburger-container;
	height: calc(v.$size--hamburger-container + 10px);
	border-bottom-left-radius: 100%;

	user-select: none; //テキスト選択を可能にするかどうか
	cursor: pointer;
	z-index: 100;

	&::before {
		position: absolute;
		content: 'menu';
		display: block;
		bottom: 0;
		color: #fff;
	}

	span {
		position: absolute;
		width: 30px;
		height: 2px;
		background: rgba(#fff, 0.5);
		border-radius: 4px;

		&.line-top {
			top: 16px;
			animation: line-top-back v.$time--hamburger-anim linear forwards;
		}

		&.line-middle {
			top: 26px;
			animation: line-middle-back v.$time--hamburger-anim linear forwards;
		}

		&.line-bottom {
			top: 36px;
			transform-origin: 100% 100%;
			animation: line-bottom-back v.$time--hamburger-anim linear forwards;
		}
	}
}

@keyframes overlay-back {
	0% {
		transform: scale(30);
	}
	90% {
		transform: scale(20);
	}
	100% {
		transform: scale(1);
	}
}

// **
// is-openのとき
// **
// body.is-open {
//   .l-header.back::before {
//     opacity: 0;
//   }

//   .p-header,
//   .p-header--back {
//     transform: translateY(-250px);
//   }

//   .c-nav {
//     width: 100%;
//     top: 300px;
//     z-index: 950;

//     li {
//       animation: list .6s linear forwards;
//     }
//   }
// }

// .c-hamburger.is-open {
//   .line-top {
//     animation: line-top .6s linear forwards;
//   }

//   .line-middle {
//     animation: line-middle .6s linear forwards;
//   }

//   .line-bottom {
//     animation: line-bottom .6s linear forwards;
//   }

//   & ~ .c-overlay {
//     will-change: transform;
//     border-right: none;
//     border-bottom: none;
//     top: 22px;
//     animation: overlay .6s linear forwards;
//   }
// }

// // **
// // is-closeのとき
// // **
// body.is-close {
//   .c-nav {
//     width: 0;
//     transform: translateX(20px);
//     @include m.breakpoint( moon-mini ) {
//       width: auto;
//       transform: inherit;
//     }

//     li {
//       animation: list-back .6s linear forwards;
//       @include m.breakpoint( moon-mini ) {
//         animation: none;
//       }
//     }
//   }
// }

// .c-hamburger.is-close {
//   .line-top {
//     animation: line-top-back .6s linear forwards;
//   }
//   .line-middle {
//     animation: line-middle-back .6s linear forwards;
//   }
//   .line-bottom {
//     animation: line-bottom-back .6s linear forwards;
//   }
//   & ~ .c-overlay {
//     // transition: transform .8s cubic-bezier(1, 0, 0, 1);
//     animation: overlay-back .6s linear forwards;
//   }
// }

// @keyframes list {
//   0% {
//     transform: translateX(0) rotate(-360deg);
//   }
//   70% {
//     transform: translateX(0);
//   }
//   100% {
//     transform: translateX(0);
//   }
// }

// @keyframes list-back {
//   0% {
//     transform: translateX(-250px) rotate(360deg);
//   }
//   70% {
//     transform: translateX(-250px);
//   }
//   100% {
//     transform: translateX(100px);
//   }
// }
