@use '../../foundation/variable' as v;
@use '../../foundation/mixin' as m;

.c-ham-trigger {
	display: none;

	// チェックがついたら
	&:checked {
		& ~ .c-ham-line {
			position: fixed;
			.line-top {
				animation: line-top v.$time--hamburger-anim linear forwards;
			}
			.line-middle {
				opacity: 0;
			}
			.line-bottom {
				animation: line-bottom v.$time--hamburger-anim linear forwards;
			}
			&::before {
				content: 'close';
			}
		}

		& ~ .p-header {
			.c-ham-menu {
				right: 0;
			}
		}
	}
}

body.is-fix {
	position: fixed;

	.c-back-to-moon {
		left: 50%;
		transform: translateX(-50%);
	}
}

// ハンバーガーopen
@keyframes line-top {
	0% {
		transform: scale(2, 2) rotate(0deg);
	}
	80% {
		transform: scale(1, 1) rotate(135deg) translate(3px, -10px);
	}
	100% {
		transform: scale(1, 1) rotate(135deg) translate(7px, -7px);
	}
}

@keyframes line-bottom {
	0% {
		transform: rotate(0);
	}
	90% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(45deg) translate(-4px, 4px);
	}
}

// @keyframes line-middle {
// 	0% {
// 		transform: translateX(0);
// 	}
// 	50% {
// 		transform: translateY(360deg);
// 	}
// 	100% {
// 		transform: translateX(-110vw);
// 	}
// }
