@use "../../foundation/variable" as v;

.c-header-ttl,
.c-header-ttl--top {
  font-size: v.$font-size--header-nav;
  color: #fff;
  cursor: pointer;
}

// タイトル付けたいとき
// .c-header-ttl {
//   padding: 10px;
//   font-family: 'Concert One', cursive;
//   animation: text-animation 5s linear infinite alternate;
  
//   @keyframes text-animation {
//     from {
//       color: white; text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
//     }
//     to {
//       color: white; text-shadow:0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
//     }
//   }
// }