@use "../../foundation/variable" as v;

.c-input-box {
  width: 100%;

  input {
    width: 100%;
    font-size: v.$font-size--c-input-box;
    letter-spacing: 1px;
    color: #fff;
    padding: 10px 20px;
    background: rgba(255,255,255,0.2);
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    border-radius: 35px;
    border: none;
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    outline: none;

    &::placeholder {
      color: #fff;
    }

    &[type="submit"] {
      background: #fff;
      color: #666;
      max-width: 100px;
      cursor: pointer;
      margin-bottom: 20px;
      font-weight: v.$font-weight--input-submit-btn;
    }
  }
  &.text {
    input {
      border-radius: 20px;
      padding-bottom: 90px;
    }
  }
}

.forget {
  margin-top: 5px;
}