.c-light {
	position: absolute;
	opacity: 0.5;
	left: 0%;
	width: 100%;
	height: 100%;
	// background: radial-gradient(at 50% -140%, pink, transparent);
	background: radial-gradient(
		at 50% 0,
		rgba(rgb(229, 255, 0), 0.8),
		transparent
	);
	z-index: 30;
	animation: over 15s ease forwards;
}

@keyframes over {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0.4;
	}
}
