@use "../../foundation/variable" as v;

$position-bottom--line: -50px;
$width--linear-light: 300px;
$anim-time: 7s;


.c-linear-light {
  position: relative;
  width: $width--linear-light;
  height: 3px;

  &::before,
  &::after {
    content: "";
    position: absolute;
  }
  
  // 走る線
  &:before {
    display: block;
    width: 100%;
    height: 100%;
    bottom: $position-bottom--line;
    transform-origin: 0 0;
    background: linear-gradient(to right, 
    v.$color--white--opacity10 10%, 
    v.$color--white--opacity40 80%, 
    v.$color--white);
    border-radius: 50%;
    animation: line $anim-time infinite;
  }
  
  // 光
  // &:after {
  //   width: 30px;
  //   height: 21px;
  //   bottom: $position-bottom--line - 10px;
  //   transform-origin: 90% 50%;
  //   border-radius: 2px;
  //   background: rgba(v.$color--light-purple, .55);
  //   box-shadow: 0 0 10px 6px rgba(v.$color--light-purple, .4),
  //   -20px 0 15px 4px rgba(v.$color--light-purple, .3),
  //   -40px 0 15px 2px rgba(v.$color--light-purple, .2),
  //   -60px 0 10px 1px rgba(v.$color--light-purple, .1),
  //   -80px 0 10px 1px rgba(v.$color--light-purple, .05);
  //   filter: blur(8px);
  //   animation: light $anim-time infinite 3s;
  // }
}



@keyframes line {
  0% {
    transform: scaleX(0);
    opacity: .5;
  }
  90% {
    transform: scaleX(1);
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    opacity: 0;
  }
}

@keyframes light {
  0% {
    transform: scale(0,0) translateX(52px);
    opacity: 1;
  }
  100% {
    transform: scale(2,2) translateX(52px);
    opacity: 0; 
  }
}