@use "../../foundation/mixin" as m;
@use "../../foundation/variable" as v;

.c-moon {
	position: absolute;
	width: v.$size--moon-big;
	height: v.$size--moon-big;
	top: v.$position--moon-big-top;
	border-radius: 50%;
	background: v.$color--moon-main;
	filter: blur(4px);
	transition: all 1s linear;

	@include m.breakpoint( moon-mini ) {
		width: v.$size--moon-mini;
		height: v.$size--moon-mini;
		top: v.$position--moon-mini-top;
	}

	&__txt {
		position: absolute;
		width: auto;
		color: v.$color--moon-main;
		font-family: "Gluten", cursive;
		font-size: 2.5rem;
		line-height: v.$line-height--wide;
		letter-spacing: 5px;
		top: 53%;
		right: 5%;

		@include m.breakpoint( moon-mini ) {
			font-size: min(3.5vmin, 2.5rem);
			bottom: 18vmin;
		}
	}

	&::before {
		position: absolute;
		content: "";
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border-color: transparent;
		border-radius: 50%;
		-webkit-filter: blur(100px);
		filter: blur(100px);
	}

	&__waning {
		width: 102%;
		height: 100%;
		margin: auto;
		border-radius: 50%;
		filter: blur(4px);
		overflow: hidden;

		//box-shadowのアニメーションをやめたため、疑似要素追加
		&::before {
			content: '';
			display: block;
			width: 110%;
			height: 100%;
			border-radius: 50%;
			background: v.$color--fuschia;
			transform: rotate(237deg) translateY(83px) translateX(29px);
			animation: moon-waning-sp 17s alternate-reverse infinite;

			@include m.breakpoint( moon-mini ) {
				animation: moon-waning 17s alternate-reverse infinite -1s;
			}
		}
	}

	img {
		position: absolute;
		top: 16%;
		width: 60%;
		opacity: 0.7;
	}
}

@keyframes moon-waning-sp {
	0% {
		transform: rotate(227deg) translateY(340px) translateX(17px);
	}
	100% {
		transform: rotate(227deg) translateY(44px) translateX(17px);
	}
}

@keyframes moon-waning {
	0% {
		transform: rotate(227deg) translateY(272px) translateX(17px);
	}
	100% {
		transform: rotate(227deg) translateY(44px) translateX(17px);
	}
}
