@use "../../foundation/mixin" as m;
@use "../../foundation/variable" as v;

.c-moon {
	width: v.$size--moon-big;
	height: v.$size--moon-big;
	background: v.$color--moon-main;
	border-radius: 50%;
	filter: blur(4px);
	transition: all 1s linear;

	@include m.breakpoint( moon-mini ) {
		width: v.$size--moon-mini;
		height: v.$size--moon-mini;
		background: v.$color--moon-main;
		top: v.$position--moon-mini-top;
	}

	&::before {
		position: absolute;
		content: "";
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border-color: transparent;
		border-radius: 50%;
		-webkit-filter: blur(100px);
		filter: blur(100px);
	}

	&__waning {
		position: relative;
		width: 102%;
		height: 100%;
		margin: auto;
		border-radius: 50%;
		filter: blur(4px);
		overflow: hidden;
		z-index: 1;

		// waningのアニメーション用
		&::before {
			position: absolute;
			content: '';
			display: block;
			width: 110%;
			height: 100%;
			border-radius: 50%;
			background: v.$color--accent;
			transform: rotate(237deg) translateY(48px) translateX(15px);
			z-index: 1;

			@include m.breakpoint( moon-mini ) {
				animation: moon-waning 17s alternate-reverse infinite -1s;
			}
		}
	}

	img {
		position: absolute;
		top: 16%;
		width: 60%;
		opacity: 0.7;
		z-index: 2;
	}
}

@keyframes moon-waning-sp {
	100% {
		transform: rotate(227deg) translateY(44px) translateX(17px);
	}
	0% {
		transform: rotate(227deg) translateY(340px) translateX(17px);
	}
}

@keyframes moon-waning {
	100% {
		transform: rotate(227deg) translateY(44px) translateX(17px);
	}
	0% {
		transform: rotate(227deg) translateY(272px) translateX(17px);
	}
}
