@use "../../foundation/variable" as v;
@use "../../foundation/mixin" as m;

.c-moon-txt {
  color: v.$font-color--moon-text;
  font-family: "Gluten", cursive;
  font-size: v.$font-size--moon--sp;
  letter-spacing: 5px;

  @include m.breakpoint( moon-mini ) {
    font-size: v.$font-size--moon--pc;
  }
}