@use "../../foundation/mixin" as m;
@use "../../foundation/variable" as v;

.c-nav {
  display: grid;
  grid-auto-rows: auto;
  gap: v.$gap--c-nav;
  height: 0;
  transform: translateX(100vw);
  z-index: 90;

  @include m.breakpoint( moon-mini ) {
    position: static;
    width: auto;
    height: auto;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
    text-align: center;
    transform: inherit;
  }
  
  li {
    width: 250px;
    padding: 10px 80px;

    background: rgba(0, 0, 0, 0.6);
    border-radius: 50px;
    filter: drop-shadow(2px 4px 6px);
    cursor: pointer;
    user-select: none;

    animation: list-back-mini .2s linear forwards;

    @media screen and (min-width:375px) and (max-width:569px) {
      animation: list-back .2s linear forwards;
    }

    @include m.breakpoint( moon-mini ) {
      padding: 0;
      width: auto;
      background: none;
      filter: none;
      border-radius: 0;
      transform: inherit;
      animation: none;
    }

    a {
      font-size: v.$font-size--hamburger-nav;

      @include m.breakpoint( moon-mini ) {
        font-size: v.$font-size--header-nav;
        padding: 10px;
      }
    }
  }
}


@keyframes list-back-mini {
  0% {
    transform: translateX(-120vw) translateY(150%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 0;
  }
}
@keyframes list-back {
  0% {
    transform: translateX(-100vw) translateY(150%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 0;
  }
}