@use '../../foundation/mixin' as m;
@use '../../foundation/variable' as v;

.c-nav {
	padding: 150px 60px;

	@include m.breakpoint(moon-mini) {
		display: flex;
		flex-direction: row;
		width: auto;
		height: auto;
		background: none;
		padding: inherit;
		gap: v.$gap--c-nav;
		transform: inherit;
	}

	li {
		width: 250px;
		border-bottom: 1px solid rgba(#fff, 0.5);
		cursor: pointer;
		user-select: none;

		@include m.breakpoint(moon-mini) {
			padding: 0;
			width: v.$width--nav-li;
			transform: inherit;
			border-bottom: none;
		}

		a {
			display: block;
			padding: 10px;
			font-size: v.$font-size--hamburger-nav;
			font-weight: 600;

			@include m.breakpoint(moon-mini) {
				font-size: v.$font-size--header-nav;
				font-weight: 100;
			}
		}
	}
}

@keyframes list-back-mini {
	0% {
		transform: translateX(-120vw) translateY(150%);
		opacity: 1;
	}
	100% {
		transform: translateX(0);
		opacity: 0;
	}
}
@keyframes list-back {
	0% {
		transform: translateX(-100vw) translateY(150%);
		opacity: 1;
	}
	100% {
		transform: translateX(0);
		opacity: 0;
	}
}
