@use '../../foundation/variable' as v;
@use '../component/ba';

.c-overlay {
	@extend .c-ba;
	&.is-fix {
		&::before {
			width: 100%;
			height: 100%;
			background: radial-gradient(#000, rgba(255, 254, 181, 0.5));
			z-index: 80;
		}
	}
}
