@use "../../foundation/variable" as v;

.c-overlay {
  position: fixed;
  top: -5px;
  right: -5px;
  width: v.$size--hamburger-container + 10px;
  height: v.$size--hamburger-container + 10px;

  background: radial-gradient(#fff, rgba(v.$color--sub, .8));
  border-bottom-left-radius: 100%;
  filter: blur(5px);
  transition: transform .6s cubic-bezier(1, 0, 0, 1);
  z-index: -1;
}