@use "../../foundation/variable" as v;
@use "sass:math";

.c-rotate-text {
  perspective: 800px;

  span {
    display: inline-block;
    transform-origin: 50% 70%;
    transform: rotateX(0);

    $count: 9;
    @for $i from 1 through $count {
      $time:  10s;
      $delay: $i * .5 +s;

      .char:nth-child(#{$i}) {
        animation: StandUp $time cubic-bezier(0.68, -0.55, 0.26, 1.55) $delay infinite both;
      }
    }
  }
}


@keyframes StandUp {
  0% {
    transform: rotateX(90deg);//90deg:後ろに倒れてる
  }
  50% {
    transform: rotateX(0);
  }
  90% {
    transform: rotateY(360deg) translateY(5px);
  }
}