@use "../../foundation/variable" as v;

.c-shooting-star {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 60%;
  transform: translate(-60vw,0);
  border-radius:50%;
  background: linear-gradient(0deg, rgba(#fff,0.2) 20%, rgba(#fff,0) 100%);
  
  &--01 {
    @extend .c-shooting-star;
    animation: shooting-star 10s infinite ease-in;
  }
  
  &--02 {
    @extend .c-shooting-star;
    width: 10px;
    height: 10px;
    background: linear-gradient(0deg, rgba(#ff0,0.5) 20%, rgba(#ff0,0.3) 100%);
    box-shadow: 0 0 50px 10px #ff0;
    animation: shooting-star 6s infinite;
  }
}

@keyframes shooting-star {
  0% {
    transform: translate(-70vw,0);
  }
  100% {
    transform: translate(200vw,110vh);
  }
}
