@use "../../foundation/variable" as v;

.c-skills-ball {
  position: relative;
  width: min(80vw, 530px);
  height: 300px;

  &--language {
    @extend .c-skills-ball;

    .c-ball {
      &.skill-css {
        top: 0;
        left: 23vmin;
        width: min(17vmin, 100px);
        height: min(17vmin, 100px);
        animation: css 15s linear infinite;
      }
      &.skill-php {
        top: 0;
        left: 41vmin;
        width: min(17vmin, 100px);
        height: min(17vmin, 100px);
        animation: php 15s linear infinite;
      }
      &.skill-react {
        top: 115px;
        right: 8vmin;
        width: min(12vmin, 50px);
        height: min(12vmin, 50px);
        animation: react 10s linear infinite;
      }
      &.skill-js {
        top: 60px;
        right: 0;
        width: min(12vmin, 60px);
        height: min(12vmin, 60px);
        animation: js 20s linear infinite;
      }
      &.skill-gulp {
        top: 160px;
        left: 9vmin;
        width: min(10vmin, 40px);
        height: min(10vmin, 40px);
        z-index: 2;
        animation: gulp 15s linear infinite;
      }
      &.skill-git {
        top: 116px;
        left: 14vmin;
        width: min(10vmin, 50px);
        height: min(10vmin, 50px);
        animation: git 15s linear infinite;
      }
    }
  }

  &--wordpress {
    @extend .c-skills-ball;

    .c-ball {
      &.skill-theme {
        top: 0;
        left: 28vmin;
        width: min(17vmin, 100px);
        height: min(17vmin, 100px);
        animation: php 30s linear infinite;
      }
      &.skill-custom {
        top: 0;
        right: 2vmin;
        width: min(17vmin, 90px);
        height: min(17vmin, 90px);
        animation: css 30s linear infinite;
      }
      &.skill-plugin {
        top: 155px;
        right: 0;
        width: min(13vmin, 60px);
        height: min(13vmin, 60px);
        animation: php 10s linear infinite;
      }
      &.skill-block {
        top: 120px;
        left: 12vmin;
        width: min(13vmin, 60px);
        height: min(13vmin, 60px);
        z-index: 2;
        animation: php 10s linear infinite;
      }
    }
  }
}







@keyframes css {
  0% {
    transform: rotateZ(0deg);
  }
  10% {
    transform: rotateZ(-360deg);
  }
  20% {
    transform: rotateZ(0deg);
  }
  30% {
    transform: rotateZ(360deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}


@keyframes php {
  0% {
    transform: rotateZ(0deg);
  }
  70% {
    transform: rotateZ(360deg);
  }
  80% {
    transform: rotateZ(0deg);
  }
  82% {
    transform: rotateZ(360deg);
  }
  84% {
    transform: rotateZ(-360deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

@keyframes js {
  10% {
    transform: rotateZ(20deg);
  }
  12% {
    transform: rotateZ(-80deg);
  }
  20% {
    transform: rotateZ(360deg);
  }
  25% {
    transform: rotateZ(-360deg);
  }
  100% {
    transform: rotateZ(-720deg);
  }
}


@keyframes react {
  0% {
    transform: rotateZ(0);
  }
  80% {
    transform: rotateZ(360deg);
  }
  85% {
    transform: rotateZ(-360deg);
  }
  100% {
    transform: rotateZ(720deg);
  }
}


@keyframes gulp {
  0% {
    transform: translateY(-40px) rotateZ(0deg);
  }
  50% {
    transform: translateY(40px) rotateZ(360deg);
  }  
  100% {
    transform: translateY(-40px) rotateZ(0deg);
  }
}

@keyframes git {
  0% {
    transform: translateY(-40px) rotateZ(0deg);
  }
  50% {
    transform: translateY(40px) rotateZ(-360deg);
  }  
  100% {
    transform: translateY(-40px) rotateZ(0deg);
  }
}

