@use '../../foundation/variable' as v;

.c-sun {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background-color: transparent;
	background: v.$color--sub;
	box-shadow: -1px -1px 20px 6px rgba(v.$color--sub, 0.5),
		1px 1px 20px 6px rgba(#d00, 0.5),
		70px 40px 80px 10px rgba(v.$color--sub, 0.5),
		-70px -40px 80px 10px rgba(v.$color--sub, 0.5),
		-40px 70px 80px 10px rgba(v.$color--sub, 0.5),
		40px -70px 80px 10px rgba(v.$color--sub, 0.5);
	filter: blur(3px);
	// animation: sun_rise 2s ease infinite alternate;
}

// @keyframes sun_rise {
// 	0% {
// 		transform: translateY(90px) translateX(-50%);
// 	}
// 	100% {
// 		transform: translateY(95px) translateX(-50%);
// 	}
// }
