@use "../../foundation/variable" as v;

.c-sun {
	position: absolute;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	left: 50%;
	background-color: transparent;
	background: v.$color--sub;

	box-shadow: -1px -1px 20px 6px rgba(v.$color--sub, 0.5),
	1px 1px 20px 6px rgba(#d00, 0.5), 70px 40px 80px 10px rgba(v.$color--sub, 0.5),
	-70px -40px 80px 10px rgba(v.$color--sub, 0.5),
	-40px 70px 80px 10px rgba(v.$color--sub, 0.5),
	40px -70px 80px 10px rgba(v.$color--sub, 0.5);
	filter: blur(3px);
	animation: rise 24s ease forwards;
}

@keyframes rise {
	0% {
		transform: translateY(160px) translateX(-50%);
	}
	100% {
		transform: translateY(60px) translateX(-50%);
	}
}
