@use '../../foundation/mixin' as m;

.sp-only {
	display: block;
	@include m.breakpoint(moon-mini) {
		display: none;
	}
}
.sp-none {
	display: none;
	@include m.breakpoint(moon-mini) {
		display: block;
	}
}
