@use '../../foundation/mixin' as m;

.sp-only {
	display: block;
	@include m.breakpoint(moon_mini) {
		display: none;
	}

	&--flex {
		display: flex;
		@include m.breakpoint(moon_mini) {
			display: none;
		}
	}
}

.sp-none {
	display: none;
	@include m.breakpoint(moon_mini) {
		display: block;
	}
}
