.demo__header {
	position: absolute;
	color: #fff;
}

.p-section--first, .p-section--basic, .p-section--novel, .p-section--map, .p-section--legend {
  position: relative;
  width: 100%;
}
.p-section--first, .p-section--basic, .p-section--map {
  min-height: 100vh;
}
.p-section--basic {
  padding-top: 200px;
  z-index: 11;
}
.p-section--map {
  z-index: 10;
}
.p-section--legend, .p-section--novel {
  padding: 100px 0 100px 0;
}
.p-section--legend {
  background: white;
  box-shadow: 0 0 10px #fff;
  z-index: 11;
}
.p-section--novel {
  color: #fff;
  z-index: 10;
}
.p-section--novel::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("img/night.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  z-index: -1;
}
.p-section--novel p {
  color: #000;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 20px;
  line-height: 1.5;
}

.c-contents-wrapper {
  width: 100%;
  max-width: 600px;
  padding: 0 20px;
}
@media (min-width: 600px) {
  .c-contents-wrapper {
    width: 80%;
    margin: auto;
  }
}
@media (min-width: 960px) {
  .c-contents-wrapper {
    width: 50%;
  }
}
.c-contents-wrapper .text {
  margin-bottom: 40px;
  padding: 20px;
  border-radius: 20px;
}

.c-title {
  width: 100%;
  display: block;
  margin: auto;
  font-size: 2rem;
  font-family: Century Schoolbook, Century Schoolbook L, Georgia, serif;
  text-align: center;
  mix-blend-mode: overlay;
  color: #222;
}
.c-title__wrapper {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}
.c-title--sec {
  margin-bottom: 40px;
  text-align: center;
}

.c-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.c-video__wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.c-video__wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background: rgba(255, 255, 255, 0.9);
  z-index: 200;
  opacity: 0;
}
.c-video__wrapper.is-fade::after {
  transition: opacity 1s ease-in-out;
  opacity: 0.7;
}
.c-video__wrapper.is-out::after {
  transition: opacity 1s ease-in-out;
  opacity: 0;
}
.c-video__inner {
  position: relative;
  width: 100%;
}

.c-map {
  width: 100%;
  height: 100vh;
  opacity: 0;
  z-index: -1;
}
.c-map::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  background: url("img/nasa.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  transform: translate3d(-50%, -50%, 0);
  opacity: 0.2;
}
.c-map.is-fade {
  transition: opacity 1s ease-in-out;
  opacity: 1;
}
.c-map.is-fade .c-title--sec {
  -webkit-animation: title 1s ease-in-out forwards;
          animation: title 1s ease-in-out forwards;
}
.c-map.is-fade .c-list--keywords li {
  -webkit-animation: keywords 1s ease-in-out forwards;
          animation: keywords 1s ease-in-out forwards;
}
.c-map.is-fade .c-list--keywords li:nth-child(1) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.c-map.is-fade .c-list--keywords li:nth-child(2) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.c-map.is-fade .c-list--keywords li:nth-child(3) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.c-map.is-fade .c-list--keywords li:nth-child(4) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
.c-map.is-fix {
  position: fixed;
  top: 0;
}
.c-map__info {
  position: relative;
  width: 100%;
  height: 100%;
}
.c-map__info h2 {
  padding-top: 100px;
}

.c-list, .c-list--basic-info, .c-list--keywords, .c-list--legend {
  list-style: none;
}
.c-list--basic-info__container {
  counter-reset: number;
  margin-bottom: 40px;
}
.c-list--basic-info li {
  position: relative;
  padding: 20px 0 20px 20px;
  border-bottom: 1px solid rgba(36, 2, 56, 0.5);
}
@media (min-width: 600px) {
  .c-list--basic-info li {
    display: flex;
    padding: 0 0 0 20px;
  }
}
.c-list--basic-info li::before {
  position: absolute;
  counter-increment: number;
  content: counter(number, decimal) ".";
  margin: auto;
  font-size: 1.2rem;
  font-weight: bold;
}
@media (min-width: 600px) {
  .c-list--basic-info li::before {
    font-size: 1.8rem;
  }
}
.c-list--basic-info li h3 {
  width: 50%;
  padding-left: 40px;
  font-size: 1.2rem;
  margin-bottom: 10px;
}
@media (min-width: 600px) {
  .c-list--basic-info li h3 {
    margin-bottom: 0;
    font-size: 1.8rem;
  }
}
.c-list--basic-info li p {
  font-weight: 400;
  line-height: 2;
  padding-left: 40px;
}
@media (min-width: 600px) {
  .c-list--basic-info li p {
    display: flex;
    padding-left: 0;
  }
}

.img-milky-way {
  width: 100%;
  height: 400px;
}
.img-milky-way img {
  width: 100%;
  max-width: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
.img-milky-way figcaption {
  font-size: 1rem;
  text-align: center;
  color: #555;
}
.img-milky-way figcaption a {
  cursor: pointer;
  color: #555;
}

.c-list--keywords {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 30vh);
  place-items: center;
  margin: auto;
  width: 100%;
  height: 100%;
}
.c-list--keywords li {
  display: inline-block;
  width: 100%;
  height: 20vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  opacity: 0;
}
.c-list--keywords li h3 {
  font-size: 1.6rem;
}
@media (min-width: 600px) {
  .c-list--keywords li h3 {
    font-size: 2rem;
  }
}
.c-list--keywords li span {
  font-size: 1rem;
}
@media (min-width: 600px) {
  .c-list--keywords li span {
    font-size: 1.5rem;
  }
}
.c-list--keywords li .keywords-item__container {
  min-width: 150px;
  background: rgba(36, 2, 56, 0.7);
  border-radius: 5px;
}
@media (min-width: 600px) {
  .c-list--keywords li .keywords-item__container {
    min-width: 200px;
  }
}

.c-list--legend {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
@media (min-width: 600px) {
  .c-list--legend {
    justify-content: center;
    flex-direction: row;
  }
}
.c-list--legend li {
  width: 300px;
  height: 100%;
}
.c-list--legend li .bg::before {
  display: block;
  content: "";
  width: 100%;
  height: 300px;
}
.c-list--legend li.asia::before {
  top: 0;
  left: -10%;
}
.c-list--legend li.asia .bg::before {
  background: url("img/tanabata.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
.c-list--legend li.greece::before {
  background-position: 0 100%;
  top: 0;
  transform: rotate(-10deg);
}
.c-list--legend li.greece .bg::before {
  background: url("img/greece.png");
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center;
}
.c-list--legend li::before,
.c-list--legend li p {
  margin-bottom: 20px;
}
.c-list--legend li h3 {
  text-align: center;
}

@-webkit-keyframes title {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  100% {
    transform: translateY(40px);
    opacity: 1;
  }
}

@keyframes title {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  100% {
    transform: translateY(40px);
    opacity: 1;
  }
}
@-webkit-keyframes keywords {
  0% {
    transform: rotate(0);
    opacity: 0;
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}
@keyframes keywords {
  0% {
    transform: rotate(0);
    opacity: 0;
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}
.c-separator, .c-separator--bottom, .c-separator--wave {
  position: relative;
  width: 100%;
  height: 70px;
  overflow: hidden;
  z-index: 11;
}
.c-separator::before, .c-separator--bottom::before, .c-separator--wave::before {
  content: "";
  position: absolute;
  font-family: "shape divider from ShapeDividers.com";
  width: 100%;
  height: 100%;
  top: 0.1vw;
  bottom: -1px;
  left: -1px;
  right: -1px;
  background-image: url('data:image/svg+xml;charset=utf8, <svg preserveAspectRatio="xMidYMin slice" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2000.4 78"><g fill="%23ffffff"><path d="M215 78H89c-10-5-21-10-33-13a63 63 0 00-12-2 58 58 0 00-6 0 62 62 0 00-10 1c-8 2-19 7-25 14H0v-2a44 44 0 012-13c4-13 14-25 26-30 25-11 56-5 78 3l44 18c10 4 20 8 32 7s23-8 23-19c6 5 10 12 11 20v1a36 36 0 01-1 15z"/><path d="M428 78H303c-11-5-22-10-33-13a63 63 0 00-13-2 58 58 0 00-6 0 62 62 0 00-9 1c-9 2-20 7-26 14h-3a43 43 0 013-15v-1c4-13 14-24 25-29 26-11 56-5 78 3l44 18c10 4 21 8 32 7s23-8 23-19c7 5 10 13 11 21a36 36 0 01-1 15z"/><path d="M642 78H517c-11-5-22-10-33-13a63 63 0 00-13-2 58 58 0 00-6 0 62 62 0 00-9 1c-9 2-20 7-26 14h-3a43 43 0 012-15c5-13 14-25 26-30 26-11 56-5 78 3l44 18c10 4 21 8 32 7s23-8 23-19c6 5 10 13 11 21a36 36 0 01-1 15z"/><path d="M856 78H730c-10-5-21-10-32-13a63 63 0 00-13-2 58 58 0 00-6 0 62 62 0 00-9 1c-9 2-20 7-26 14h-3a43 43 0 012-15c4-13 14-25 26-30 26-11 56-5 78 3l44 18c10 4 20 8 32 7s23-8 23-19c6 5 10 13 11 21a36 36 0 01-1 15z"/><path d="M1070 78H944c-10-5-21-10-33-13a63 63 0 00-12-2 58 58 0 00-6 0 62 62 0 00-10 1c-8 2-20 7-25 14h-3a44 44 0 012-15c4-13 14-25 26-30 25-11 56-5 78 3l44 18c10 4 20 8 31 7s24-8 24-19c6 5 10 13 11 21a36 36 0 01-1 15z"/><path d="M1283 78h-125c-10-5-21-10-33-13a63 63 0 00-12-2 58 58 0 00-6 0 62 62 0 00-10 1c-8 2-20 7-26 14h-2a43 43 0 012-15c4-13 14-25 26-30 25-11 55-5 78 3l44 18c10 4 20 8 31 7s23-8 23-19c7 5 11 13 12 21a36 36 0 01-2 15z"/><path d="M1497 78h-125c-11-5-21-10-33-13a62 62 0 00-12-2 58 58 0 00-6 0 62 62 0 00-10 1c-9 2-20 7-26 14h-2a43 43 0 012-15c4-13 14-25 26-30 25-11 55-5 77 3l45 18c10 4 20 8 31 7s23-8 23-19c7 5 11 13 12 21a36 36 0 01-2 15z"/><path d="M1711 78h-125c-11-5-22-10-33-13a63 63 0 00-12-2 58 58 0 00-7 0 62 62 0 00-9 1c-9 2-20 7-26 14h-2a44 44 0 012-15c4-13 14-25 25-30 26-11 56-5 78 3l44 18c11 4 21 8 32 7s23-8 23-19c7 5 11 13 12 21a36 36 0 01-2 15z"/><path d="M1925 78h-125c-11-5-22-10-33-13a63 63 0 00-13-2 58 58 0 00-6 0 62 62 0 00-9 1c-9 2-20 7-26 14h-3a43 43 0 013-15c4-13 13-25 25-30 26-11 56-5 78 3l44 18c10 4 21 8 32 7s23-8 23-19c7 5 10 13 11 21a36 36 0 01-1 15z"/><path d="M2000 28v44a121 121 0 00-19-7 63 63 0 00-13-2 58 58 0 00-6 0 62 62 0 00-9 1c-9 2-20 7-26 14h-3a43 43 0 012-15c5-13 14-25 26-30 15-7 32-7 48-5z"/><path d="M3 63h1997v15H3z"/><circle cx="174.3" cy="33.9" r="14.3"/><circle cx="21.3" cy="10.9" r="10.9"/><circle cx="90.7" cy="14.1" r="6.4"/><circle cx="389.6" cy="33.9" r="14.3"/><circle cx="236.6" cy="10.9" r="10.9"/><circle cx="306.1" cy="14.1" r="6.4"/><circle cx="605" cy="33.9" r="14.3"/><circle cx="452" cy="10.9" r="10.9"/><circle cx="521.4" cy="14.1" r="6.4"/><circle cx="818.4" cy="33.9" r="14.3"/><circle cx="667.4" cy="10.9" r="10.9"/><circle cx="736.8" cy="14.1" r="6.4"/><circle cx="1033.1" cy="33.9" r="14.3"/><circle cx="882.7" cy="10.9" r="10.9"/><circle cx="952.1" cy="14.1" r="6.4"/><circle cx="1242.7" cy="33.9" r="14.3"/><circle cx="1098.1" cy="10.9" r="10.9"/><circle cx="1167.5" cy="14.1" r="6.4"/><circle cx="1458.1" cy="33.9" r="14.3"/><circle cx="1313.4" cy="10.9" r="10.9"/><circle cx="1382.9" cy="14.1" r="6.4"/><circle cx="1673.4" cy="33.9" r="14.3"/><circle cx="1528.8" cy="10.9" r="10.9"/><circle cx="1598.2" cy="14.1" r="6.4"/><circle cx="1889.1" cy="33.9" r="14.3"/><circle cx="1744.1" cy="10.9" r="10.9"/><circle cx="1813.6" cy="14.1" r="6.4"/><circle cx="1959.5" cy="10.9" r="10.9"/></g></svg>');
  background-repeat: no-repeat;
  background-size: 110%;
  background-position: 0 100%;
  pointer-events: none;
  z-index: 3;
}
@media (min-width: 1025px) {
  .c-separator::before, .c-separator--bottom::before, .c-separator--wave::before {
    bottom: -0.1vw;
    left: -0.1vw;
    right: -0.1vw;
    background-size: 100% 71px;
    background-position: 50% 0%;
  }
}
@media (min-width: 2100px) {
  .c-separator::before, .c-separator--bottom::before, .c-separator--wave::before {
    background-size: 100% calc(2vw + 71px);
  }
}
.c-separator--bottom, .c-separator--wave {
  position: absolute;
  top: 0;
}
.c-separator--bottom::before, .c-separator--wave::before {
  top: -0.1vw;
}
.c-separator--bottom::before {
  transform: rotate(180deg);
}
.c-separator--wave::before {
  content: "";
  background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M0 .5c3.07.55 9.27-.42 16.14 0 6.88.4 13.75.57 19.14-.11V0H0z" fill="%4622253D"/><path d="M0 1c3.17.8 7.29-.38 10.04-.55 2.75-.17 9.25 1.47 12.67 1.3 3.43-.17 4.65-.84 7.05-.87 2.4-.02 5.52.88 5.52.88V0H0z" opacity=".5" fill="%23fff"/><path d="M0 1.85c2.56-.83 7.68-.3 11.79-.42 4.1-.12 6.86-.61 9.58-.28 2.73.33 5.61 1.17 8.61 1 3-.19 4.73-.82 5.3-.84V.1H0z" opacity=".5" fill="%23826979"/></svg>');
  -webkit-animation: 10s infinite alternate shape-anim linear;
          animation: 10s infinite alternate shape-anim linear;
}

@-webkit-keyframes shape-anim {
  100% {
    transform: scaleX(4);
  }
}

@keyframes shape-anim {
  100% {
    transform: scaleX(4);
  }
}
/*# sourceMappingURL=style.css.map */