@use "../foundation/mixin" as m;
@use "../foundation/variable" as v;

.l-header {
  position: fixed;
  width: calc(100% - v.$size--hamburger-container - 10px);
  margin-top: 5px;
  padding: 0 v.$gap--header--sp;
  top: 0;
  z-index: 2000;
  transition: all 1s ease-in-out;

  @include m.breakpoint( moon-mini ) {
    width: 100%;
    margin-top: 10px;
    padding: 0 v.$gap--header--pc;
  }

  @media screen and (min-width:740px) {
    padding: 0 v.$gap--header--wide;
  }
}
