@use "../foundation/mixin" as m;
@use "../foundation/variable" as v;

.l-header {
  position: fixed;
  width: 90%;
  padding: 0 10px;
  top: 0;
  z-index: 1000;

  @include m.breakpoint( moon-mini ) {
    width: 100%;
    margin-top: 10px;
  }

  @media screen and (min-width:740px) {
    padding: 0 8vw;
  }
}