@use '../foundation/mixin' as m;
@use '../foundation/variable' as v;

.l-main {
	width: 100vw;
	color: #fff;
	overflow: hidden;

	&__inner {
		width: 100%;
		min-height: 100vh;
		padding: 0 20px;
	}

	&__container {
		max-width: 1000px;
		margin: 0 auto 80px auto;
		justify-content: center;
		align-items: center;
	}

	.text {
		font-size: 1.5rem;
	}
}
