@use '../foundation/mixin' as m;
@use '../foundation/variable' as v;

.l-topic {
	width: 100vw;
	min-height: 100vh;
	margin-top: 50px;
	color: #fff;
	overflow: hidden;

	&__inner {
		width: 100%;
		min-height: 100vh;
	}

	&__container {
		max-width: 1000px;
		margin: auto;
		justify-content: center;
		align-items: center;
	}

	.text {
		font-size: 1.5rem;
	}
}

.text-contents {
	.l-topic__container {
		width: 50%;
		padding: 200px 0 100px 0;

		display: flex;
		flex-direction: column;
		gap: 20px;

		@media (min-width: 890px) {
			padding: 100px 0 100px 0;
			max-width: 800px;
		}
	}
}

.single-post {
	.text-contents {
		.l-topic__container {
			padding: 0 20px;
		}
	}
}

.list-contents {
	.l-topic__container {
		width: 100%;
		padding-bottom: 100px;

		display: flex;
		flex-direction: column;
		gap: 20px;

		@media (min-width: 890px) {
			width: 80%;
		}
	}
}

.special-contents {
	height: 100vh;
	display: flex;
	flex-direction: column;

	.l-topic__container {
		width: 80vw;
		height: 80vh;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: grid;
		gap: 10px;
		text-align: center;

		.p-title {
			margin: auto;
		}
	}
}
