@use '../../foundation/mixin' as m;
@use '../../foundation/variable' as v;

.p-about {
	.l-main {
		margin-top: -50px;
	}

	.text {
		transform: translateX(-50%, -50%);
		font-size: v.$font-size--profile-slide--txt--sp;
		line-height: 1.5;
		@include m.breakpoint(moon_mini) {
			font-size: v.$font-size--profile-slide--txt--pc;
		}
	}
}
