@use '../../foundation/mixin' as m;

.p-after-contents {
	height: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	margin-bottom: 40px;

	.c-offset-title {
		position: absolute;
		bottom: 0;
	}
}
