@use '../../foundation/mixin' as m;

.p-after-contents {
	height: 100%;
	min-height: 50vh;
	position: relative;
	display: flex;
	justify-content: center;

	.c-offset-title {
		position: absolute;
		bottom: 0;
	}
}
