@use '../../foundation/mixin' as m;
@use '../../foundation/variable' as v;

.p-first-view {
	position: fixed;
	width: 100%;
	height: v.$height--first-view--sp;
	@include m.breakpoint(moon-mini) {
		height: v.$height--first-view--pc;
	}

	&__inner {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
	}
}
