@use '../../foundation/mixin' as m;
@use '../../foundation/variable' as v;

.p-first-view {
	position: fixed;
	width: 100%;
	height: v.$height--first-view--sp;
	@include m.breakpoint(moon-mini) {
		height: v.$height--first-view--pc;
	}

	&__inner {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
	}

	&::before,
	&::after {
		content: '';
		position: absolute;
		width: 50%;
		height: 20%;
		top: 50%;
		left: 10%;
		transform: rotate(30deg);
		border-radius: 50%;
		filter: blur(50px);
		opacity: 0.4;
		z-index: 30;
	}

	&::before {
		background: radial-gradient(
			at 50% 0,
			rgba(234, 0, 255, 0.8),
			transparent
		);
		animation: first_view_before 5s ease-in infinite;
	}

	&::after {
		background: radial-gradient(
			at 50% 0,
			rgba(255, 251, 0, 0.8),
			transparent
		);
	}
}

@keyframes first_view_before {
	0% {
		opacity: 0;
		transform: scale(0);
	}
	50% {
		opacity: 0.4;
	}
	100% {
		opacity: 0;
		transform: scale(2);
	}
}
