@use '../../foundation/variable' as v;
@use '../../foundation/mixin' as m;

.p-flowing-clouds {
	position: absolute;
	height: 50%;
	width: 100%;
	top: 40%;

	filter: blur(30px);
	animation: parallax_fg3-sp linear 20s infinite both;

	@include m.breakpoint(moon-mini) {
		top: 5%;
		animation: parallax_fg3 linear 20s infinite both;
	}
	@include m.breakpoint(wide) {
		animation: parallax_fg3-wide linear 20s infinite both;
	}

	&,
	&::before,
	&::after {
		background: url('../img/common/cloud.svg');
		background-repeat: repeat-x;
		background-position: 0 100%;
	}
	&::before,
	&::after {
		position: absolute;
		top: 0;
		content: '';
		display: block;
		width: 100%;
		height: 100%;
	}

	&::before {
		filter: blur(25px);
		opacity: 0.8;
		animation: parallax_fg2-sp linear 30s infinite both;
		@include m.breakpoint(moon-mini) {
			animation: parallax_fg2 linear 30s infinite both;
		}
		@include m.breakpoint(wide) {
			animation: parallax_fg2-wide linear 30s infinite both;
		}
	}
	&::after {
		filter: blur(35px);
		opacity: 0.3;
		animation: parallax_fg1-sp linear 40s infinite both;
		@include m.breakpoint(moon-mini) {
			animation: parallax_fg1 linear 40s infinite both;
		}
		@include m.breakpoint(wide) {
			animation: parallax_fg1-wide linear 40s infinite both;
		}
	}
}

$fg-start: 550px;
$fg-end: 2765px;
@keyframes parallax_fg1-sp {
	0% {
		background-position: $fg-start 10%;
	}
	100% {
		background-position: $fg-end 10%;
	}
}
@keyframes parallax_fg2-sp {
	0% {
		background-position: $fg-start 20%;
	}
	100% {
		background-position: $fg-end 20%;
	}
}
@keyframes parallax_fg3-sp {
	0% {
		background-position: $fg-start 30%;
	}
	100% {
		background-position: $fg-end 30%;
	}
}

@keyframes parallax_fg1 {
	0% {
		background-position: $fg-start 180px;
	}
	100% {
		background-position: $fg-end 180px;
	}
}
@keyframes parallax_fg2 {
	0% {
		background-position: $fg-start 250px;
	}
	100% {
		background-position: $fg-end 250px;
	}
}
@keyframes parallax_fg3 {
	0% {
		background-position: $fg-start 300px;
	}
	100% {
		background-position: $fg-end 300px;
	}
}

@keyframes parallax_fg1-wide {
	0% {
		background-position: $fg-start 100px;
	}
	100% {
		background-position: $fg-end 100px;
	}
}
@keyframes parallax_fg2-wide {
	0% {
		background-position: $fg-start 150px;
	}
	100% {
		background-position: $fg-end 150px;
	}
}
@keyframes parallax_fg3-wide {
	0% {
		background-position: $fg-start 200px;
	}
	100% {
		background-position: $fg-end 200px;
	}
}
