@use '../../foundation/mixin' as m;
@use '../../foundation/variable' as v;

.p-footer {
	&--morning {
		background: #f3bf7c;
	}

	&--night {
		background: #2d2b42;

		.c-ba-shining {
			&::before {
				background: radial-gradient(
					at 50% 0,
					rgba(rgb(229, 255, 0), 0.8),
					transparent
				);
			}
			&::after {
				background: radial-gradient(
					at 50% 0,
					rgba(0, 200, 255, 0.8),
					transparent
				);
			}
		}

		.c-wave {
			&--color {
				background: #ad9afe;
				filter: blur(30px);
			}
		}

		.c-sky,
		.c-sun {
			display: none;
		}
	}
}
