@use '../../foundation/mixin' as m;
@use '../../foundation/variable' as v;
@use '../project/loop';

.p-frame {
	display: flex;
	justify-content: center;

	.p-title,
	.related-title {
		margin-bottom: 20px;
	}

	.related-title {
		font-size: 1.5rem;
	}

	.c-read-more {
		width: 120px;
		line-height: 3;
		border-radius: 10px;
		background: rgba(255, 255, 255, 0.2);

		a {
			color: #fff;
			font-size: 1.5rem;
			transition: 0.5s;

			&:hover {
				transform: scale(1.2);
			}
		}
	}

	&--ex {
		@extend .p-frame;
		min-height: 50vh;

		.p-loop {
			@extend .p-loop;
			flex-direction: column;
			align-items: center;

			.post-sub-loop {
				margin-bottom: 40px;
			}
		}
	}
}

.single {
	.p-frame {
		.p-loop {
			height: 100%;

			.post-sub-loop {
				width: 100%;
			}
		}
	}
}
