@use '../../foundation/mixin' as m;
@use '../../foundation/variable' as v;

.p-gmenu {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

	p,
	a {
		z-index: 10;
	}

	a {
		color: #fff;
	}
}

.p-header--back {
	.p-gmenu {
		@include m.breakpoint(moon_mini) {
			li {
				&:first-child:hover ~ .c-marker::before {
					transform: scale(1);
					opacity: 1;
				}
				&:nth-child(2):hover ~ .c-marker::before {
					transform: translateX(v.$width--nav-li + v.$gap--c-nav)
						scale(1);
					opacity: 1;
				}
				&:nth-child(3):hover ~ .c-marker::before {
					transform: translateX(
							v.$width--nav-li * 2 + v.$gap--c-nav * 2
						)
						scale(1);
					opacity: 1;
				}
				&:nth-child(4):hover ~ .c-marker::before {
					transform: translateX(
							v.$width--nav-li * 3 + v.$gap--c-nav * 3
						)
						scale(1);
					opacity: 1;
				}
			}

			.c-marker {
				position: absolute;
				top: 7px;
				z-index: 1;

				&::before {
					width: v.$width--nav-li;
					transform: scale(0);
				}
			}
		}
	}
}

// $first-width: 84px;
// $middle-gap: 100vw - (v.$gap--header--wide *2) - (v.$gap--p-header-side--pc *2) - $first-width - ($list-width *2) - (v.$gap--c-nav *2);
// $middle-gap: calc(100% - $first-width - ($list-width *2) - (v.$gap--c-nav *2)); //100%から各リスト幅とgap幅を引いた数値

// .c-header-ttl--totop:hover ~ ul .c-marker {
//   left: 0;

//   &::before {
//     transform: scale(1);
//     opacity: 1;
//   }
// }
