@use '../../foundation/mixin' as m;
@use '../../foundation/variable' as v;

.p-header {
	@include m.breakpoint(moon-mini) {
		transition: 1s ease-in;
		padding: 0 v.$gap--p-header-side--pc;
	}

	&::before {
		display: none;
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		border-radius: 10px;
		transition: all 0.5s ease-in-out;
		overflow: hidden;
		opacity: 0;

		@include m.breakpoint(moon-mini) {
			display: block;
			background: linear-gradient(
				to right,
				rgba(0, 0, 0, 0.1) 10%,
				rgba(255, 255, 255, 0.3) 50%,
				rgba(0, 0, 0, 0.1) 100%
			);
		}
	}

	.c-header-ttl--totop {
		padding: 10px;
	}
}

// トップでデザイン変える場合
.p-header--top {
	display: block;
	opacity: 1;

	// タイトル表示するならflexかける
	// display: flex;
	// justify-content: space-between;

	.c-header-ttl {
		display: none;

		&--totop {
			visibility: hidden;
			white-space: nowrap;
		}
	}

	//下スクロールでフェード
	&.is-fade {
		@include m.breakpoint(moon-mini) {
			opacity: 0;
		}
	}
}

// 途中から（またはtopがないときは最初から）p-header--back
.p-header--back {
	&::before {
		opacity: 1;
	}

	.c-header-ttl {
		display: none;

		&--totop {
			visibility: visible;
			white-space: nowrap;
		}
	}

	a {
		@include m.breakpoint(moon-mini) {
			backdrop-filter: blur(15px);
		}
	}

	.c-marker {
		display: block;
	}

	.c-bubbly-button--white:hover {
		color: #fff;
	}
}
