@use "../../foundation/mixin" as m;
@use "../../foundation/variable" as v;

.p-header {
  padding: 0 10px;
  transition: 1s ease-in;

  @include m.breakpoint( moon-mini ) {
    padding: 0 v.$gap--p-header-side--pc;
  }

  &::before {
    position: absolute;
    display: block;
    content: '';
    height: 100%;
    top: 0;
    background: rgba(#333, .5);
    border-radius: 10px;
    transition: all .5s ease-in-out;
    overflow: hidden;

    opacity: 0;
    width: calc(100% - v.$gap--header--sp * 2);
    left: v.$gap--header--sp;

    @include m.breakpoint( moon-mini ) {
      width: calc(100% - v.$gap--header--pc * 2);
      left: v.$gap--header--pc;
    }
    @media screen and (min-width:740px) {
      width: calc(100% - v.$gap--header--wide * 2);
      left: v.$gap--header--wide;
    }
  }

  .c-header-ttl--totop {
    padding: 10px;
  }
}


// **
// トップ画面
// **
.p-header--top {
  opacity: 1;

  // タイトル表示するならflexかける
  // display: flex;
  // justify-content: space-between;

  .c-header-ttl {
    display: none;

    &--totop {
      visibility: hidden;
      white-space: nowrap;
    }
  }

  //下スクロールでフェード
  &.is-fade {
    @include m.breakpoint( moon-mini ) {
      opacity: 0;
    }
  }
}


// **
// スクロール途中からp-header--back
// **
.p-header--back {
  &::before {
    opacity: 1;
  }

  .c-header-ttl {
    display: none;

    &--totop {
      visibility: visible;
      white-space: nowrap;
    }
  }

  a {
    @include m.breakpoint( moon-mini ) {
      backdrop-filter: blur(15px);
    }
  }

  .c-marker {
    display: block;
  }

  .c-bubbly-button--white:hover {
    color: #fff;
  }
}







// /*========= UpMove/DownMoveを使いたい場合 ===============*/
// /*上に上がる動き*/
// .js-header.UpMove{
// 	position: fixed;
// 	width:100%;
// 	// animation: UpAnime 0.5s forwards;
//   height: 70px;
//   background: transparent;
// }


// .js-header.UpMove + .DownMove {
//   background: none;
// }

// // /*下に下がる動き*/
// .js-header.DownMove{
// 	position: fixed;
//   opacity: 1;
// 	width:100%;
// 	// animation: DownAnime 1s forwards;
//   background:rgba(#333, .5);
// }

// @keyframes UpAnime{
//   from {
//   opacity: 1;
// 	transform: translateY(0);
//   }
//   to {
//   opacity: 0;
// 	transform: translateY(-100px);
//   }
// }

// @keyframes DownAnime{
//   from {
//     opacity: 0;
//     transform: translateY(-100px);
//   }
//   to {
//     opacity: 1;
//     transform: translateY(0);
//   }
// }


