@use "../../foundation/variable" as v;

$duration: 4s;
$color--border: v.$color--fuschia;
$radius--start: 20%;
$deg--last: 20;

.p-loading-panel {
  &__wrapper {
    // wrapperの幅・高さは無しにしないとヘッダーがクリックできない
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    overflow: hidden;
    opacity: 0.8;
    z-index: 1500;
  }
  
  position: fixed;//fixedじゃないと表示されない
  width: 60%;
  height: 100vh;
  top: 0;
  background: -webkit-radial-gradient(36% 65%, circle, 
  rgba(249, 249, 250, 0) 0%, rgba(189, 255, 254, 0) 0%, #08314e 0%, #081a38 80%, #04102e 90%, #02080d 100%);
  // background: -webkit-radial-gradient(76% 55%, circle, rgba(249,249,250,1) -1%, rgba(189,255,254,1) 2%, rgba(8,49,78,1) 3%, rgba(8,26,56,1) 58%, rgba(4,16,46,1) 70%, rgba(2,8,13,1) 90%);
  
  &--left {
    @extend .p-loading-panel;
    left: 0;

    border-right: 4px solid $color--border;
    box-shadow: inset -40px 0 50px rgb(255 255 0 / 30%), inset -90px 0 120px rgb(255 255 255 / 30%);
    will-change: animation;
    animation: loading-left $duration ease-out forwards;
  }

  &--right {
    @extend .p-loading-panel;
    right: 0;

    border-left: 4px solid $color--border;
    box-shadow: inset 40px 0 50px rgb(255 255 0 / 30%), inset 90px 0 120px rgb(255 255 255 / 30%);
    will-change: animation;
    animation: loading-right $duration ease-out forwards;
  }

  &--left::before,
  &--right::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    opacity: .11;
    background: url("../img/top/loading.jpeg") repeat center center;
  }

  &--left::before {
    right: 0;
    animation: loading-left-before $duration ease-out forwards;
  }
  &--right::before {
    left: 0;
    animation: loading-right-before $duration ease-out forwards;
  }
}

$myX: 50vw;
$myY: -50vh;

@keyframes loading-left {
  0% {
    transform: translate(0, 0) rotate(0deg);
    border-bottom-right-radius: $radius--start;
    top: 0;
  }
  10% {
    // transform: translate(0, 0);
    border-bottom-right-radius: 100%;
  }
  100% {
    transform: translate(-1 * $myX, $myY) rotate($deg--last +deg);
    border-bottom-right-radius: 100%;
    top: -1% * $deg--last;
  }
}
@keyframes loading-right {
  0% {
    transform: translate(0, 0) rotate(0deg);
    border-bottom-left-radius: $radius--start;
    top: 0;
  }
  10% {
    // transform: translate(0, 0);
    border-bottom-left-radius: 100%;
  }
  100% {
    transform: translate($myX, $myY) rotate(-1 * $deg--last +deg);
    border-bottom-left-radius: 100%;
    top: -1% * $deg--last;
  }
}
@keyframes loading-left-before {
  0% {
    border-bottom-right-radius: $radius--start;
  }
  10% {
    border-bottom-right-radius: 90%;
  }
  100% {
    border-bottom-right-radius: 100%;
  }
}
@keyframes loading-right-before {
  0% {
    border-bottom-left-radius: $radius--start;
  }
  10% {
    border-bottom-left-radius: 90%;
  }
  100% {
    border-bottom-left-radius: 100%;
  }
}
