@use '../../foundation/mixin' as m;
@use '../../foundation/variable' as v;

.p-loop {
	text-align: center;
	z-index: 10;

	.p-post-sub-loop {
		.p-posts-list {
			&__figure {
				.c-eye-catch-text {
					font-size: clamp(20px, 20px + 0.24vw, 22px);
				}
			}
		}
	}
}

.home {
	.p-loop {
		margin-bottom: 60px;
	}
}
