@use '../../foundation/mixin' as m;
@use '../../foundation/variable' as v;

.p-loop {
	text-align: center;

	.post-sub-loop {
		width: 80vw;
		max-width: 1000px;
		margin-bottom: 20px;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(310px, 310px));
		justify-content: center;
		justify-items: center;
		gap: 40px;

		li {
			// .wp-post-image {
			// 	margin: auto;
			// 	padding-top: 3px;
			// 	width: calc(100vw - 40px - 10px);
			// 	height: 100%;
			// 	border-top-left-radius: 20px;
			// 	border-top-right-radius: 20px;

			// 	@include m.breakpoint(iphone-normal) {
			// 		width: 98%;
			// 		height: 98%;
			// 	}
			// }

			.wp-post-image__container {
				height: 100%;
				border-radius: 20px;
				background: rgba(255, 255, 255, 0.6);

				display: grid;
				grid-template-rows: 78% 22%;
				place-items: center;
				align-content: flex-start;
				opacity: 0.8;

				@include m.breakpoint(iphone-normal) {
					width: 310px;
					height: 235px;
				}

				&::after {
					opacity: 0.2;
				}

				.eye-catch-text {
					font-size: 5vw;
					top: 40%;
					@include m.breakpoint(moon_mini) {
						font-size: 2rem;
					}
				}

				.post-title {
					font-size: 1.5rem;
					font-weight: 500;
					color: #222;
					text-align: start;
					padding-left: 5px;
					line-height: 1;
				}
			}
		}
	}
}

.home {
	.p-loop {
		margin-bottom: 60px;
	}
}
