@use '../../foundation/mixin' as m;
@use '../../object/component/bubbly-button';

.p-pagination {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 20px;
	white-space: nowrap;
	align-items: center;
	text-decoration: none;
	margin-bottom: 20px;

	@include m.breakpoint(moon-mini) {
		position: static;
	}
}
