@use '../../foundation/mixin' as m;
@use '../../object/component/bubbly-button';

.p-pagination {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 20px;
	white-space: nowrap;
	align-items: center;
	text-decoration: none;

	@include m.breakpoint(moon-mini) {
		position: static;
	}
}

// ホバー
.p-pagination {
	c-pagination--numbers {
		a:hover,
		li.-current {
			color: #fff;
			background: rgb(255, 255, 255);
		}
	}
	&__pre span:hover,
	&__pre i:hover,
	&__next span:hover,
	&__next i:hover {
		opacity: 0.5;
	}
}

// .p-pagination {
// 	position: relative;
// 	display: flex;
// 	justify-content: center;

// 	&__container {
// 		display: flex;
// 		align-items: baseline;
// 		gap: 20px;

// 		.screen-reader-text {
// 			padding: 0;
// 		}

// 		a {
// 			@extend .c-bubbly-button--yellow;
// 			width: 20px;
// 			font-size: 2rem;
// 			color: #fff;
// 			text-align: center;
// 		}
// 	}
// }
