@use "../../foundation/variable" as v;

.p-page-top {
  position: fixed;
  bottom: 51%;
  left: 20px;

  span {
    color: #000;
    font-size: 1rem;
    font-weight: v.$font-weight--regular;
    position: absolute;
    text-align: right;
    top: -30%;
    right: 0;
  }

  figure {
    width: 50px;
    animation: rabbit 2s infinite;

    img {
      width: 100%;
    }
  }
}

@keyframes rabbit {
  0% {
    transform: translateY(10%);
  }
  90% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0);
  }
}