@use '../../foundation/mixin' as m;
@use '../../foundation/variable' as v;

.p-related-contents {
	display: flex;
	justify-content: center;
	color: #fff;

	&__inner {
		display: flex;
		justify-content: center;

		.p-title,
		.related-title {
			margin-bottom: 20px;
		}

		.related-title {
			font-size: 1.5rem;
		}

		.post-sub-loop {
			max-width: 1000px;
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(310px, 310px));
			justify-content: center;
			justify-items: center;
			gap: 40px;
		}
	}

	&--ex {
		@extend .p-related-contents;
		min-height: 50vh;
		&__inner {
			@extend .p-related-contents__inner;
			flex-direction: column;
			align-items: center;
		}
	}
}

.p-related-contents {
	li {
		.wp-post-image {
			margin: auto;
			padding-top: 3px;
			width: calc(100vw - 40px - 10px);
			height: 100%;
			border-top-left-radius: 20px;
			border-top-right-radius: 20px;

			@include m.breakpoint(iphone-normal) {
				width: 98%;
				height: 98%;
			}
		}

		.wp-post-image__container {
			//a or figure
			height: 100%;
			border-radius: 20px;
			background: rgba(255, 255, 255, 0.6);

			display: grid;
			grid-template-rows: 78% 22%;
			place-items: center;
			align-content: flex-start;
			opacity: 0.8;

			@include m.breakpoint(iphone-normal) {
				width: 310px;
				height: 235px;
			}

			&::after {
				opacity: 0.2;
			}

			.eye-catch-text {
				font-size: 5vw;
				top: 40%;
				@include m.breakpoint(moon-mini) {
					font-size: 2rem;
				}
			}

			.post-title {
				font-size: 1.5rem;
				font-weight: 500;
				color: #222;
				text-align: start;
				padding-left: 5px;
				line-height: 1;
			}
		}
	}
}

.home,
.archive {
	.p-related-contents,
	.p-related-contents--ex {
		.post-sub-loop {
			width: 80vw;
			margin-bottom: 80px;
		}
	}

	.p-related-contents--ex {
		padding-bottom: 100px;
	}
}

.single {
	.p-related-contents {
		.post-sub-loop {
			margin-bottom: 80px;
		}
	}
}

.archive {
	.p-related-contents {
		flex-direction: column;
	}
}
