@use '../../foundation/variable' as v;
@use '../../foundation/mixin' as m;

.p-sec-contact {
	padding-top: v.$gap--sec-top;
	padding-bottom: 100px;
	min-height: 100vh;
	background-color: transparent;
	overflow: hidden;

	&__container {
		display: flex;
		justify-content: center;
	}

	&__inner {
		position: relative;
		width: 300px;
		border-radius: 10px;

		@include m.breakpoint(contact-col) {
			width: 400px;
		}
	}

	.c-offset-title {
		margin-top: 100px;
	}
}
