@use "../../foundation/variable" as v;

.p-sec-moon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  min-height: 100vh;
  margin-top: 100px;
	// margin-bottom: v.$gap--sec-bottom;
  z-index: 1;
}