@use '../../foundation/variable' as v;
@use '../../foundation/mixin' as m;

.p-sec-profile {
	padding-top: v.$gap--sec-top;
	padding-bottom: v.$gap--sec-bottom;
	min-height: 100vh;
	background-color: transparent;

	&__cards {
		display: flex;
		flex-direction: column;
	}

	.c-falling-box {
		position: relative;
		left: 35%;

		@include m.breakpoint(moon_mini) {
			left: 45%;
		}
	}
}
