.p-shooting-star {
  &--01 {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius:50%;
    background: linear-gradient(0deg, rgba(#ffffff,0.2) 20%, rgba(#ffffff,0) 100%);
    transform: translateX(100%) translateY(0);

    top: -20%;
    left: 13%;
    animation: shooting-star-01 8s ease-in-out infinite;
  }

  &--02 {
    @extend .p-shooting-star--01;
    top: 40%;
    left: 100%;
    animation: shooting-star-02 5s ease-out infinite;
  }
}

@keyframes shooting-star-01 {
  0% {
    transform: translateX(100%) translateY(0);
  }
  50% {
    transform: translateX(100%) translateY(0);
  }
  100% {
    transform: translateX(-20vw) translateY(30vh);
  }
}

@keyframes shooting-star-02 {
  0% {
    transform: translateX(100%) translateY(0);
  }
  100% {
    transform: translateX(-100vw) translateY(100vh);
  }
}