@use '../../foundation/mixin' as m;

.p-side {
	display: grid;
	justify-content: center;
	padding-bottom: 40px;
	z-index: 30;

	// first-viewで表示しない
	opacity: 0;
	transition: 0.2s;

	@include m.breakpoint(wide) {
		position: fixed;
		top: 10%;
		right: 40px;
		z-index: 20;
	}

	.c-offset-title {
		position: absolute;
		bottom: 0;
	}
}

.p-contents {
	&--post {
		~ .p-side {
			position: static;
		}
	}
}
