@use '../../foundation/mixin' as m;

.p-side {
	height: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	padding-bottom: 40px;

	@include m.breakpoint(wide) {
		position: fixed;
		display: block;
		width: inherit;
		top: 30%;
		right: 40px;
		z-index: 20;
	}

	.c-offset-title {
		position: absolute;
		bottom: 0;
	}
}

.p-contents {
	&--post {
		~ .p-side {
			@include m.breakpoint(wide) {
				position: static;
				display: flex;
			}
		}
	}
}
