@use "../../foundation/variable" as v;

.p-skills {
  width: 100%;
  margin-top: 200px;

  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 100;
  text-shadow: 1px 1px 5px #fff;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;

  span {
    display: inline-block;
  }

  &__language {
    position: relative;
    width: min(80vw, 530px);
    height: 300px;
  }
  &__wordpress {
    position: relative;
    width: min(80vw, 530px);
    height: 300px;
  }

  .c-bg-square {
    display: grid;
    place-content: center;
    text-align: center;
    color: #fff;
    font-size: 2rem;

    &.skill-html {
      top: -30px;
      left: 0;
      width: min(20vmin, 120px);
      height: min(20vmin, 120px);
      animation: html 20s linear infinite;
    }
    &.skill-css {
      top: 0;
      left: 21vmin;
      width: min(15vmin, 100px);
      height: min(15vmin, 100px);
      animation: css 15s linear infinite;
    }
    &.skill-php {
      top: 0;
      left: 38vmin;
      width: min(20vmin, 120px);
      height: min(20vmin, 120px);
      animation: php 15s linear infinite;
    }
    &.skill-react {
      font-size: min(3vw, 1.5rem);
      line-height: min(3vw, 1.5rem);
      top: 115px;
      right: 8vmin;
      width: min(10vmin, 50px);
      height: min(10vmin, 50px);
      box-shadow: v.$shadow--bg-square-sub;
      animation: react 10s linear infinite;
    }
    &.skill-js {
      font-size: min(3vw, 1.5rem);
      line-height: min(3vw, 1.5rem);
      top: 60px;
      right: 0;
      width: min(12vmin, 60px);
      height: min(12vmin, 60px);
      box-shadow: v.$shadow--bg-square-sub;
      animation: js 20s linear infinite;
    }
    &.skill-gulp {
      font-size: min(3vw, 1.5rem);
      line-height: min(3vw, 1.5rem);
      top: 160px;
      left: 9vmin;
      width: min(8vmin, 40px);
      height: min(8vmin, 40px);
      z-index: 2;
      box-shadow: v.$shadow--bg-square-sub;
      animation: gulp 15s linear infinite;
    }
    &.skill-git {
      font-size: min(3vw, 1.5rem);
      line-height: min(3vw, 1.5rem);
      top: 116px;
      left: 14vmin;
      width: min(10vmin, 50px);
      height: min(10vmin, 50px);
      box-shadow: v.$shadow--bg-square-sub;
      animation: git 15s linear infinite;
    }
    &.skill-wordpress {
      font-size: min(5vw, 2rem);
      line-height: min(5vw, 2rem);
      top: 0;
      left: 0;
      width: min(20vmin, 120px);
      height: min(20vmin, 120px);
    }
    &.skill-theme {
      font-size: min(5vw, 1.5rem);
      line-height: min(5vw, 1.5rem);
      top: 0;
      left: 22vmin;
      width: min(20vmin, 120px);
      height: min(20vmin, 120px);
    }
    &.skill-custom {
      font-size: min(3vw, 1rem);
      line-height: min(3vw, 1rem);
      top: 50px;
      right: 11vmin;
      width: min(15vmin, 90px);
      height: min(15vmin, 90px);
    }
    &.skill-plugin {
      font-size: min(3vw, 1rem);
      line-height: min(3vw, 1rem);
      top: 123px;
      right: 0;
      width: min(13vmin, 80px);
      height: min(13vmin, 80px);
      box-shadow: v.$shadow--bg-square-sub;
    }
    &.skill-block {
      font-size: min(2vw, 1rem);
      line-height: min(2vw, 1rem);
      top: 160px;
      left: 34vmin;
      width: min(14vmin, 80px);
      height: min(14vmin, 80px);
      box-shadow: v.$shadow--bg-square-sub;
      z-index: 2;
    }
  }
}



@keyframes html {
  0% {
    transform: translate(0);
  }
  10% {
    transform: scale(2) rotateZ(20deg);
  }
  20% {
    transform: scale(2) rotateZ(-80deg);
  }
  30% {
    transform: scale(1) rotateZ(360deg);
  }
  35% {
    transform: scale(1) rotateZ(-360deg);
  }
  100% {
    transform: scale(0.5) rotateZ(-720deg);
  }
}

@keyframes css {
  0% {
    transform: scale(1) rotateZ(0deg);
  }
  10% {
    transform: scale(2) rotateZ(-360deg);
  }
  20% {
    transform: scale(2) rotateZ(0deg);
  }
  30% {
    transform: scale(1) rotateZ(360deg);
  }
  100% {
    transform: scale(1) rotateZ(0deg);
  }
}


@keyframes php {
  0% {
    transform: scale(1) rotateZ(0deg);
  }
  70% {
    transform: scale(2) rotateZ(360deg);
  }
  80% {
    transform: scale(2) rotateZ(0deg);
  }
  82% {
    transform: scale(1) rotateZ(360deg);
  }
  84% {
    transform: scale(1) rotateZ(-360deg);
  }
  100% {
    transform: scale(1) rotateZ(0deg);
  }
}

@keyframes js {
  0% {
    transform: translate(0);
  }
  10% {
    transform: scale(2) rotateZ(20deg);
  }
  12% {
    transform: scale(2) rotateZ(-80deg);
  }
  20% {
    transform: scale(1) rotateZ(360deg);
  }
  25% {
    transform: scale(1) rotateZ(-360deg);
  }
  100% {
    transform: scale(1) rotateZ(-720deg);
  }
}


@keyframes react {
  0% {
    transform: rotateZ(0);
  }
  80% {
    transform: rotateZ(360deg);
  }
  85% {
    transform: rotateZ(-360deg);
  }
  100% {
    transform: rotateZ(720deg);
  }
}


@keyframes gulp {
  0% {
    transform: translateY(-40px) rotateZ(0deg);
  }
  50% {
    transform: translateY(40px) rotateZ(360deg);
  }  
  100% {
    transform: translateY(-40px) rotateZ(0deg);
  }
}

@keyframes git {
  0% {
    transform: translateY(-40px) rotateZ(0deg);
  }
  50% {
    transform: translateY(40px) rotateZ(-360deg);
  }  
  100% {
    transform: translateY(-40px) rotateZ(0deg);
  }
}




