@use "../../foundation/variable" as v;

// スライダーの必須クラスは３つ
// swiper/swiper-wrapper（全体&ラッパー）
// swiper-slide（各スライドを入れる要素）

// **
// 全体&ラッパー
// **
.swiper {
  border-radius: 10px;
  opacity: 0.7;

  &,
  &-wrapper {
    position: relative;
  }

  &-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 1;
  
    .c-rabbit {
      &--1a::after,
      &--2a::after,
      &--3a::after,
      &--4a::after {
        width: 100%;
        opacity: .1;
        transition: animation 1s ease-in-out;
        @media (min-width: 440px) {
          opacity: .6;
        }
      }
      &--1a::after {
        background-size: 30%;
        background-position: 5% 60%;
        transform: scaleX(-1);
      }
      &--2a::after {
        background-size: 40%;
        background-position: 95% 40%;
        transform: scaleX(-1);
      }
      &--3a::after {
        background-size: 40%;
        background-position: 5% 60%;
      }
      &--4a::after {
        background-size: 40%;
        background-position: 95% 50%;
      }
    }
  }
}

// **
// 各スライド
// **
.swiper-slide {
  height: 100%;
  background: linear-gradient(135.587deg, 
  rgb(183, 194, 157) 17.1483%, 
  rgb(182, 193, 157) 17.1483%, 
  rgb(167, 124, 180) 87.0215%, 
  rgb(167, 124, 180) 92.18%);

  border-radius: 10px;
  flex-shrink: 0;
  opacity: 0;
  cursor: grab;

  &__content {
    width: 100%;
    height: 100%;
    padding-left: 32px;
    transition: 0.4s;
    position: absolute;
    top: 0;

    @media (min-width: 440px) {
      padding-top: 10px;
    }
  
    &.right {
      padding-left: 40%;
      @media (min-width: 440px) {
        padding-left: 220px;
      }
    }
  
    h3,
    .text {
      color: #000;
      white-space: nowrap;
      transform: translateY(0);//☆☆
      transition: all 1s ease;
      text-overflow: ellipsis;
      opacity: 0;
    }
  
    h3 {
      margin: 0;
      padding: 0 0 10px 0;
      font-size: v.$font-size--profile-slide--ttl--sp;
      transition-delay: 0.2s;
      max-width: 100%;
  
      @media (min-width: 520px) {
        font-size: v.$font-size--profile-slide--ttl--pc;
        line-height: 24px;
      }
    }
  
    .text {
      transition-delay: 0.3s;
      font-weight: v.$font-weight--profile-slide--txt--sp;
    }
  }
}

// activeのとき
.swiper-slide-active {
  .swiper-slide__content > * {
    transform: translateY(20px);//☆☆
    opacity: 1;
  }
}

.c-rabbit--1a.swiper-slide-active,
.c-rabbit--2a.swiper-slide-active {
  &::after {
    animation: swiper-rabbit1 1.5s infinite alternate;
  }
}
.c-rabbit--3a.swiper-slide-active,
.c-rabbit--4a.swiper-slide-active {
  &::after {
    animation: swiper-rabbit2 2s infinite alternate;
  }
}



// --------------------------
// **
// ページネーション
// **
.swiper-pagination {
  position: absolute;
  left: 50%;
  bottom: 8px;
  transform: translatex(-50%);
  z-index: 1;
  width: auto !important;

  &-bullet {
    border-radius: 0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    line-height: 30px;
    font-size: v.$font-size--profile-slide--pagination;
    opacity: 1;
    background: rgba(255, 185, 0, 0.3);
    display: inline-block;
    margin-right: 8px;
    cursor: pointer;
    transition: all 0.2s;

    &-active {
      background: v.$color--profile-swiper-btn;
      width: 20px;
      border-radius: 10px;
    }
  }
}



// **
// ボタン
// **
.slider-buttons {
  display: flex;
  justify-content: space-between;
  width: v.$width--card--single;
  top: 100%;
  padding-top: 8px;
  margin: auto;
}

.swiper-button {
  &-next {
    margin-right: 20px;
  }
  &-prev {
    margin-left: 20px;
  }
  &-next,
  &-prev {
    font-size: v.$font-size--profile-slide--next-prev;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    color: #fff;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      background-color: #fff;
      height: 1px;
      width: 0;
      left: 0;
      bottom: -1px;
      transition: 0.2s;
    }

    &:hover:before {
      width: 100%;
    }
  }
}


@keyframes swiper-rabbit1 {
  100% {
    transform: rotate(-20deg) translateX(20px) scaleX(-1);
  }
}
@keyframes swiper-rabbit2 {
  100% {
    transform: translateY(20px);
  }
}
