.p-title {
	text-align: center;

	&--main,
	&--post,
	&--sec,
	&--list,
	&--inline,
	&--page {
		@extend .p-title;
	}

	&--sec,
	&--list,
	&--inline {
		margin-bottom: 20px;
	}

	&--main {
		line-height: 10;
		a {
			p {
				display: inline;
			}
		}
	}

	&--list {
		.c-pseudo--list-ttl {
			&::before {
				opacity: 0.1;
				animation: none;
			}
		}
		a:hover {
			.c-pseudo--list-ttl {
				&::before,
				&::after {
					opacity: 0;
				}
			}
		}
	}

	&--page {
		padding: 40px;
	}
}

.home,
.archive {
	&.category {
		.p-title {
			&--page {
				padding: 80px;
			}
		}
	}
}
