@use '../../foundation/variable' as v;
@use '../../foundation/mixin' as m;

.p-train {
	position: absolute;
	top: 37%;
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
	overflow-x: hidden;
	z-index: 100;
	@include m.breakpoint(moon-mini) {
		top: 35%;
	}

	&.fixed {
		position: fixed;
		top: -5%;
		@include m.breakpoint(moon-mini) {
			top: -4%;
		}
	}

	&__img-container {
		position: relative;

		img {
			width: 150px;
			max-width: none;
			display: block;
			transform: scale(-1, 1);
		}
	}
}

.page-thanks {
	.p-train {
		top: 70%;
	}
}

.single,
.archive {
	.p-train {
		top: 22%;
		@include m.breakpoint(moon-mini) {
			top: -8%;
		}
	}
}
