html,
body {
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    touch-action: manipulation;
    scroll-behavior: smooth;
}

html {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 62.5%;
}

body {
    font-size: 1.5rem;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

strong {
    font-weight: bold;
}

